<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
  /*Main styles*/
  body{
    color: #5d5a5a;
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;
    min-width: unset!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  nav{
    background-color: #fff;
    margin: 0;
    width: 1138px;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
  }
  button:focus{
    outline: none;
  }
  .main-title h3{
    color:#25ae85;
    margin-left: 70px;
    font-size: 36px;
    margin-top: 34px;
  }
  .ui.menu{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    height: 10vh;
    top: 0;
    z-index: 10;
  }
  .main-container{
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .ui.grid{
    margin: 0;
  }
  .no-padding{
    padding: 0!important;
  }
  ::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border: 6px solid #24ae85;
    border-width: 0 6px;
    border-radius: 15px;
    transition: background 0.3s;
    -webkit-transition:  background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
  }
  button{
    cursor:pointer;
  }
  .algo-btn{
    margin-top:24px;
    border: 1px solid #25ae85;
    border-radius: 4px;
    font-size: 18px;
    background-color: #25ae85;
    color: #fff;
    padding: 6px 20px;
    cursor: pointer;
  }
  .algo-btn:hover{
    background-color: #39dcab;
    border:1px solid #39dcab;
  }
  .social_media i:hover{
    color: #25ae85;
  }
  .social_media i{
    font-size: 22px;
  }

  .ui.fluid.container{
    max-width: 100%!important;
  }
  .ymaps-2-1-68-controls__toolbar_left,.ymaps-2-1-68-controls-pane{
    display: none;
  }
  /*animation of arro going-to left*/
  .arrow-div{
    cursor:pointer;
    -webkit-animation: arrow 0.6s infinite alternate ease-in-out;
    -o-animation: arrow 0.6s infinite alternate ease-in-out;
    animation: arrow 0.6s infinite alternate ease-in-out;
  }
  .VueCarousel-pagination{
    display: none;
  }
  /*vue carousel*/
  .VueCarousel-slide{
      cursor: pointer;
  }
  .VueCarousel{
    height: 100%;
  }
  .VueCarousel-wrapper{
    height: 100%;
  }
  .VueCarousel-inner{
    height: 100%;
  }
  .next-link{
    text-align: center;
  }
  .next-link a{
    -webkit-transition:all 0.6s ease;
    -moz-transition:  all 0.6s ease;
    -ms-transition:  all 0.6s ease;
    -o-transition:  all 0.6s ease;
    transition:  all 0.6s ease;
    font-size: 56px;
    color: #5d5a5a;
  }
  .next-link a:hover{
    color: #25ae85;
  }
  @-webkit-keyframes arrow{
    0% { -webkit-transform: translateX(0); opacity: 0.6 }
    100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
  }
  @media(max-width:500px) {
    .vue-typer{
      background-color: transparent;
    }
    .vue-typer  .typed{
      color: white!important;
    }
    .ui.container {
      margin: 0 !important;
    }
    .ui.centered.container{
      margin: 0 auto!important;
    }
    .main-title h3{
      display: none;
    }
  }
  @media only screen and (max-width:576px){
    .ui.container{
      margin: 0!important;
    }
    .ui.centered.container{
      margin: 0 auto!important;
    }
    .vue-typer{
      background-color: transparent;
    }
    .vue-typer  .typed{
      color: white!important;
    }
    .main-title h3{
      display: none;
    }
  }
  @media (min-width:576.98px) and (max-width:992px){
    .ui.container{
      margin: 0 auto!important;
    }
    .ui.centered.container{
      margin: 0 auto!important;
    }
    .vue-typer{
      background-color: transparent;
    }
    .vue-typer  .typed{
      color: white!important;
    }
    .vue-typer .custom.caret{
      width: 2px;
      background-color: #25ae85;
      height: 20px;
      position: absolute;
      top: 10%;
    }
    .main-title h3{
      display: none;
    }
  }
  @media (min-width:768px) and (max-width:992px){
    .team_header--paragraph p{
      font-size: 16px!important;
    }
    .vue-typer{
      margin-left: 70px;
      height: 20px;
      font-weight: 500;
    }
    .vue-typer  .typed{
      color: #25ae85!important;
      font-size: 34px;
    }
    .vue-typer .selected{
      background-color: transparent;
      color: #25ae85!important;
      font-size: 34px;
    }
    .vue-typer .erased{
      background-color: transparent;
      color: #25ae85!important;
      font-size: 34px;
    }
    .vue-typer .custom.caret{
      width: 2px;
      background-color: #25ae85;
      height: 30px;
      position: absolute;
      top: 10%;
    }
  }
  @media (min-width: 992.98px){
    .team_header--transparent{
      padding-left:0!important;
    }
    .vue-typer{
      margin-left: 70px;
      height: 20px;
      font-weight: 500;
    }
    .vue-typer  .typed{
      color: #25ae85!important;
      font-size: 34px;
    }
    .vue-typer .selected{
      background-color: transparent;
      color: #25ae85!important;
      font-size: 34px;
    }
    .vue-typer .erased{
      background-color: transparent;
      color: #25ae85!important;
      font-size: 34px;
    }
    .vue-typer .custom.caret{
      width: 2px;
      background-color: #25ae85;
      height: 30px;
      position: absolute;
      top: 10%;
    }
  }
</style>
