<template>
  <main class="ui fluid container main-container" >
    <section class="ui container very padded index-page-sizing team_section" ref="uniqueName">
      <Navigation />
      <div class="ui grid team_header vertically padded team_text-wrapeer">
        <div class="sixteen wide column row">
          <div class="five wide computer column five wide tablet column sixteen wide mobile column team_header--transparent">
                  <div class="main-title">
                      <h1 :class="{'positioning': activePosition }">Careers</h1>
                      <h3>Careers</h3>
                  </div>
                  <div id="service-name" class="service-title">
                  </div>
          </div>
          <div class="nine wide computer right floated column nine wide tablet right floated column sixteen wide mobile column team_header--paragraph">
            <p>
              If you have the passion, the curiosity and the desire to accomplish great things, we want to meet you.
              We’re always on the lookout for new talent, so if the position you’re looking for isn’t
              available right now, no worries, send us your stuff anyway.
            </p>
          </div>
        </div>
      </div>


      <CareersAccordion/>
    </section>
      <div class="next-link">
          <router-link tag="a" to="/contact">
              Contact us
          </router-link>
      </div>
      <Footer/>
  </main>
</template>
<script>
  import Navigation from "@/components/Navigation"
  import CareersAccordion from "@/components/CareersAccordion"
  import Footer from "@/components/Footer"

    export default {
      name: "Careers",
        data(){
          return{
              activePosition:true,
          }
        },
      components: {
        Navigation,CareersAccordion,Footer
      },
    }
</script>

<style scoped>
  .team_header{
    margin-top: 150px;
    margin-bottom: 44px!important;
  }
  .team_header--transparent h1{
    color: #f5f5f5;
    font-size: 90px;
    font-family: "Arial Black";
    text-shadow: 1px 1px 5px #dcdbdb;
  }
  .team_header--paragraph p{
    text-align: justify;
    font-size: 20px;
    color: #5d5a5a;
  }
  .ui .team_text-wrapeer{
    position: relative;
    margin-top: 50px!important;

  }
  .wrapper_item{
    /*margin-top:50px!important;*/
    margin-top: 50px!important;
  }
  .team_section{
    padding-bottom: 50px!important;
  }
  .btn-container{
    text-align:right;
  }

  @media (max-width:576px){

    .team_section{
      padding-bottom: 0;
    }
    .team_header--transparent h1{
      color: #5d5a5a;
      font-size: 30px;
      border-left: 1px solid #25ae85;
      padding-left: 4px;
      line-height: 1;
    }
    .ui.team_header{
      margin-top: 0px!important;
    }
    .team_header--paragraph p{
      font-size: 14px;
    }
  }
  @media (min-width:576px) and (max-width:768px){

    .team_section{
      padding-bottom: 0;
    }
    .team_header--transparent h1{
      color: grey;
      font-size: 50px;
    }
    .team_header--paragraph p{
      font-size: 20px;
    }
  }
  @media (min-width:768.98px) and (max-width:992px){

    .team_section{
      padding-bottom: 0;
    }
    .team_header--transparent h1{
      color: grey;
      font-size: 50px;
    }
    .team_header--paragraph p{
      font-size: 20px;
    }
  }
  @media(min-width:992.98px) and (max-width:1200px){
    .team_header--transparent h1{
      line-height:0.8;
    }
  }
  @media(min-width:1200.98px){
    .team_header--transparent h1{
      line-height:0.8;
    }
  }
</style>
