<template>
  <main class="ui fluid container main-container">
    <section class="ui container very padded index-page-sizing team_section">
      <Navigation />
      <div class="ui grid team_header vertically padded team_text-wrapeer main-description-container">
        <div class="sixteen wide column row main-cont-CU">
          <div class="five wide computer column five wide tablet column sixteen wide mobile column team_header--transparent">
            <div class="main-title">
               <h1 :class="{'positioning': activePosition}">Contacts</h1>
               <h3>Contacts</h3>
            </div>
            <div id="service-name" class="service-title">
            </div>
          </div>
          <div class="nine wide computer right floated column nine wide tablet right floated column sixteen wide mobile column team_header--paragraph">
            <div class="changing-info-box">
              <div class="changing-items">
                 <p :class="{ 'positioning': activePosition }">
                   If you have the passion, the curiosity and the desire to accomplish great things, we want to meet you.
                   We’re always on the lookout for new talent, so if the position you’re looking for isn’t
                   available right now, no worries, send us your stuff anyway.
                 </p>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!--<div class="main-description-container">-->
          <!--<div class="main-title">-->
            <!--<h1 :class="{ 'positioning': activePosition }">Services</h1>-->
          <!--</div>-->
          <!--<div id="service-name" class="service-title">-->
            <!--<h2 :class="{ 'positioning-left': activePosition }">-->
              <!--Services-->
              <!--<span class="service-subtitle">About</span>-->
            <!--</h2>-->
          <!--</div>-->
          <!--<div class="changing-info-box">-->
            <!--<div class="changing-items">-->
              <!--<p :class="{ 'positioning': activePosition }">-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
                <!--Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
                <!--Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur .-->
                <!--Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->



      <ContactForm/>
      <ContactMap v-if="show"/>
      <Footer id="footer"/>
    </section>
  </main>
</template>
<script>
  import Navigation from '@/components/Navigation'
  import ContactForm from '@/components/ContactForm'
  import ContactMap from '@/components/ContactMap'
  import Footer from "@/components/Footer"
  export default {
    name: "ContactUs",
    data: function() {
      return {
          activePosition:true,
        window: {
          width: 0
        },
        show: true
      }
    },
    components: {
        Navigation, ContactForm, ContactMap, Footer
    },
    created() {
      window.addEventListener('resize', this.handleResize);
      this.handleResize();
        setTimeout(() => {
                this.activePosition = true
            },1600)
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize);
    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.mapShow();
      },
      mapShow() {
        if(this.window.width<992){
          this.show = false
        }else{
          this.show = true
        }
      }
    }
  }
</script>

<style scoped>


  /*.main-title{*/
    /*overflow: hidden;*/
  /*}*/
  .service-title{
    margin-left: 80px;
    height: 60px;
    overflow: hidden;
  }
  .team_header{
    margin-top: 150px;
    margin-bottom: 44px!important;
  }
  .team_header--transparent h1{
    color: #f5f5f5;
    font-size: 90px;
    font-family: "Arial Black";
    text-shadow: 1px 1px 5px #dcdbdb;
  }
  .team_header--paragraph p{
    text-align: justify;
    font-size: 20px;
    color: #5d5a5a;
  }
  .ui .team_text-wrapeer{
    position: relative;
    margin-top: 50px!important;

  }
  .wrapper_item{
    margin-top: 50px!important;
  }
  /*.team_section{*/
    /*padding-bottom: 50px!important;*/
  /*}*/
  @media (max-width:768px){
    .team_header--transparent h1{
      color: #5d5a5a;
      font-size: 30px;
      border-left: 1px solid #25ae85;
      padding-left: 4px;
      line-height: 1;
    }
    .ui.team_header{
      margin-top: 0px!important;
    }
    .team_header--paragraph p{
      font-size: 14px;
    }
    .team_header--paragraph{
      display: none!important;
    }
  }

  /*media queries*/
  @media (max-width:576px){


    .team_section{
      padding-bottom: 0;
    }
    .team_header--transparent h1{
      color: #5d5a5a;
      font-size: 30px;
      border-left: 1px solid #25ae85;
      padding-left: 4px;
      line-height: 1;
    }
    .ui.team_header{
      margin-top: 0px!important;
    }
    .team_header--paragraph p{
      font-size: 14px;
    }

  }
  @media (min-width:577px) and (max-width:768px){

    .team_section{
      padding-bottom: 0;
    }
    .team_header--transparent h1{
      color: grey;
      font-size: 50px;
    }
    .team_header--paragraph p{
      font-size: 20px;
    }
  }
  @media (min-width:768px) and (max-width:992px){
     .team_header--transparent h1{
       font-size: 66px;
     }
    .team_header--transparent h1{
      font-size: 58px!important;
    }
    .team_header--paragraph p{
      font-size: 16px;
    }
  }
  @media (min-width:992px) and (max-width:1200px){
    .team_header--transparent h1{
      font-size: 70px!important;
    }
    .team_header--transparent h1{
      line-height:0.8;
    }
  }
  @media (min-width:1201px){
    /*.main-cont-CU{*/
      /*margin-top:50px;*/
    /*}*/
    .team_header--transparent h1{
      line-height:0.8;
    }
  }

</style>
