<template>
  <!--Main section-->
  <main class="ui fluid container main-container">
    <section class="ui container index-page-sizing">
      <Navigation />
      <!--<HomeDescription v-if="show"/>-->
      <HomepageNew v-if="show"/>
    </section>
    <!--<MainAnimation v-if="show"/>-->
    <!--mobil;e part for adaptive design-->
    <section v-if="!show">
        <HomeMobile/>
    </section>
  </main>
</template>

<script>
import Navigation from '@/components/Navigation'
import HomeDescription from '@/components/HomeDescription'
import MainAnimation from '@/components/MainAnimation'
import Footer from "@/components/Footer"
import HomeMobile from "@/components/HomeMobile"
import HomepageNew from "../components/HomepageNew";

    export default {
        name: "Home",
        components: {
            HomepageNew,
            Navigation,HomeDescription,MainAnimation, Footer, HomeMobile
        },
        data(){
          return {
            window: {
              width: 0
            },
            show: true
          }
        },
      created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
      },
      destroyed() {
        window.removeEventListener('resize', this.handleResize);
      },
      methods: {
        handleResize() {
          this.window.width = window.innerWidth;
          this.mapShow();

        },
        mapShow() {
          if(this.window.width<992){
            this.show = false
          }else{
            this.show = true
          }
        },

      }

    }
</script>

<style scoped>
  @font-face {
    src: url("../assets/fonts/Arial-LatArm-Regular.ttf");
    font-family: arialReg;
  }
  .index-page-sizing{
    position: relative;
    height: 100%;
  }
  @media(max-width:320px){
    .index-page-sizing{
      height:auto;
    }
  }
  @media (min-width:320.98px) and (max-width:576px){
    .index-page-sizing{
      height:auto;
    }
  }
  @media (min-width:576.98px) and (max-width:768px){
    .index-page-sizing{
      height:auto;
    }
  }
  @media (min-width:768.98px) and (max-width:992px){
    .index-page-sizing{
      height:auto;
    }
  }
  @media (min-width:992.98px) and (max-width:1200px){

  }
  @media (min-width:1200.98px){

  }

</style>
