<template>
  <main class="ui fluid container main-container">
    <section class="ui container very padded index-page-sizing team_section" style="position: relative;">
      <Navigation />
      <div class="ui grid team_header vertically padded team_text-wrapeer">
        <div class="sixteen wide column row header-parent-wrapper">
          <div class="sixteen wide column mobile-main-heading">
            <h2>Fuelled by passion & curiosity</h2>
          </div>
            <div class="five wide computer column five wide tablet column sixteen wide mobile column team_header--transparent">
                <div class="main-title">
                    <h1>Team</h1>
                    <h3>Team</h3>
                </div>
                <div id="service-name" class="service-title">
                </div>
            </div>
            <div class="nine wide computer right floated column nine wide tablet right floated column sixteen wide mobile column team_header--paragraph">
                <div class="changing-info-box">
                    <div class="changing-items">
                        <p>
                            If you have the passion, the curiosity and the desire to accomplish great things, we want to meet you.
                            We’re always on the lookout for new talent, so if the position you’re looking for isn’t
                            available right now, no worries, send us your stuff anyway.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!--content for computer-->
      <div class="computer-content" v-if="show">
         <div class="ui grid container">
           <div class="sixteen wide column centered row st-wrapper-main">
             <div class="five wide  column staff-wrapper">
               <TeamStaff/>
             </div>
             <div class="five wide column">
               <TeamSayings/>
             </div>
             <div class="five wide  column staff-wrapper">
               <TeamStaff/>
             </div>
           </div>
         </div>
         <div class="ui grid wrapper_item">
           <div class="three column centered row row st-wrapper-main">
             <div class="five wide column">
              <TeamJoin/>
             </div>
             <div class="five wide column staff-wrapper">
               <TeamStaff/>
             </div>
             <div class="five wide column">
               <TeamPhilosophy/>
             </div>
           </div>
         </div>
         <div class="ui grid wrapper_item ">
           <div class="three column centered row st-wrapper-main">
             <div class="five wide column staff-wrapper">
               <TeamStaff/>
             </div>
             <div class="five wide column staff-wrapper">
               <TeamStaff/>
             </div>
             <div class="five wide column staff-wrapper">
               <TeamStaff/>
             </div>
           </div>
         </div>
      </div>
      <!--mobile responssive content-->
     <div class="ui grid" v-if="!show">
           <div class="sixteen wide mobile column eight wide tablet column">
             <TeamPhilosophy/>
           </div>
           <div class="sixteen wide mobile column eight wide tablet column">
             <TeamStaff/>
           </div>
           <div class="sixteen wide mobile column eight wide tablet column">
             <TeamStaff/>
           </div>
           <div class="sixteen wide mobile column eight wide tablet column">
             <TeamSayings/>
           </div>
           <div class="sixteen wide mobile column eight wide tablet column">
             <TeamStaff/>
           </div>
           <div class="sixteen wide mobile column eight wide tablet column">
             <TeamJoin/>
           </div>
          <div class="sixteen wide mobile column eight wide tablet column">
            <TeamStaff/>
          </div>
          <div class="sixteen wide mobile column eight wide tablet column">
            <TeamStaff/>
          </div>

     </div>
    </section>
      <div class="next-link">
          <router-link tag="a" to="/works">
              Works
          </router-link>
      </div>
      <Footer/>

  </main>
</template>


<script>
  import Navigation from "@/components/Navigation"
  import TeamJoin from "@/components/TeamJoin"
  import TeamStaff from "@/components/TeamStaff"
  import TeamResponsibilities from "@/components/TeamResponsibilities"
  import TeamSayings from "@/components/TeamSayings"
  import TeamPhilosophy from "@/components/TeamPhilosophy"
  import Footer from "@/components/Footer"
  import MobileNavigation from "@/components/MobileNavigation"
  import { VueTyper } from 'vue-typer'

  export default {
    name: "Team",
    components: {
        Navigation, TeamStaff, TeamJoin, TeamResponsibilities, TeamSayings, TeamPhilosophy, Footer, MobileNavigation, VueTyper
    },
    data: function(){
      return {
          activePosition:true,
        window: {
          width: 0
        },
        show: true
      }
    },
        created() {
        window.addEventListener('resize', this.handleResize);
        this.handleResize();
      },
      destroyed() {
        window.removeEventListener('resize', this.handleResize);
      },
      methods: {
        handleResize() {
          this.window.width = window.innerWidth;
          this.mapShow();
        },
        mapShow() {
          if(this.window.width<992){
            this.show = false
          }else{
            this.show = true
          }
        }
      }

  }
</script>

<style scoped>
    /*.ui.grid.wrapper_item.st-wrapper-main{*/
        /*display: flex;*/
        /*justify-content: space-between;*/
    /*}*/
    .three.column.centered.row.st-wrapper-main{
        display: flex;
        justify-content: space-between;
    }
    .sixteen.wide.column.centered.row.st-wrapper-main{
        display: flex;
        justify-content: space-between;
    }
    .computer-content{
        margin-top:50px;
    }
  .team_header{
    margin-top: 150px;
    margin-bottom: 44px!important;
  }
  .team_header--transparent h1{
    color: #f5f5f5;
    font-size: 90px;

    font-family: "Arial Black";
    text-shadow: 1px 1px 5px #dcdbdb;
  }
  .team_header--paragraph p{
    text-align: justify;
    font-size: 20px;
    color: #5d5a5a;
  }
   .ui .team_text-wrapeer{
    position: relative;
  }
  .wrapper_item{
    margin-top: 50px!important;
  }
  .team_section{
    padding-bottom: 50px!important;
  }
  .for-desktop{
    display: none;
  }
  .for-mobile{
    font-size: 16px!important;
    color: #5d5a5a !important;
    border-left: 1px solid #25ae85;
    padding-left: 4px;
  }
  .mobile-main-heading h2{
    font-size: 28px;
    font-family: "Arial Black";
  }

  main{
    margin: 0!important;
  }
  body{
    min-width: 100%;
  }
  @media (min-width:500px) and (max-width: 768px){
   .sixteen.wide.mobile.column{
      width:50%!important;
    }
  }
  @media(max-width:576px){
    .team_header--paragraph p{
      font-size: 14px;
    }
  }
  @media (min-width:576.98px) and (max-width:768px){

  }

  @media (min-width:768.98px) and (max-width:992px){

  }
  @media (min-width:992.98px) and (max-width:1200px){
    .for-mobile{
      display: none;
    }
    .for-desktop{
      display: block;
    }
    .mobile-main-heading{
      display: none!important;
    }
    .ui .team_text-wrapeer{
      margin-top: 50px!important;
    }
    .team_header--transparent h1{
      line-height:0.8;
    }
  }
  @media (min-width:1200.98px){
    /*for being equal width making container width*/
    /*.wide.column.row.header-parent-wrapper{*/
      /*width:1096px!important;*/
    /*}*/
    .for-mobile{
      display: none;
    }
    .for-desktop{
      display: block;
    }
    .mobile-main-heading{
      display: none!important;
    }
    .ui .team_text-wrapeer{
      margin-top: 50px!important;
    }
    .ui.grid>.row>.column.team_header--transparent{
      padding-left:40px;
    }
    .team_header--transparent h1{
      line-height:0.8;
    }
    .team_header--paragraph{
        padding-right:0;
    }
  }

</style>
