<template>
  <main class="ui fluid container main-container">
    <section class="ui container very padded index-page-sizing team_section">
      <Navigation />
      <div class="ui grid team_header vertically padded team_text-wrapeer">
        <div class="sixteen wide column row">
          <div class="five wide computer column five wide tablet column sixteen wide mobile column team_header--transparent">
            <div class="main-title">
              <h1 :class="{'positioning': activePosition }">Works</h1>
              <h3>Works</h3>
            </div>
            <div id="service-name" class="service-title">
            </div>
          </div>
          <div class="nine wide computer right floated column nine wide tablet right floated column sixteen wide mobile column team_header--paragraph">
            <div class="changing-info-box">
              <div class="changing-items">
                <p>
                  If you have the passion, the curiosity and the desire to accomplish great things, we want to meet you.
                  We’re always on the lookout for new talent, so if the position you’re looking for isn’t
                  available right now, no worries, send us your stuff anyway.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section>
      <div class="ui container">
        <div class="ui grid">
          <div class="eight wide computer column row eight wide tablet column row sixteen wide mobile column row padded-mobile-1">
              <div class="sixteen wide column"  data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
                <div class="main-content" >
                  <div id="algo-works-first"><img src="../assets/images/algo-works1.jpg" class="ui fluid image main-img-w"></div>
                  <div class="mobile-only">
                    <h4>Business Eyes</h4>
                  </div>
                  <div class="opening-div_item  purple">
                    <div class="text-container">
                      <h2>Pablo Picasso</h2>
                      <h4>Digital,UI/UX</h4>
                    </div>
                  </div>
                </div>
              </div>
            <div class="sixteen wide column" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
              <div class="main-content">
               <div id="algo-works-third">
                 <img src="../assets/images/iMac-5k-Retina-Office-Mockup-with-Items.jpg" class="ui fluid image main-img-w">
               </div>
                <div class="mobile-only">
                  <h4>Muse-ik</h4>
                </div>
               <div class="opening-div_item  light-blue">
                 <div class="text-container">
                   <h2>Pablo Picasso</h2>
                   <h4>Digital,UI/UX</h4>
                 </div>
               </div>
              </div>
            </div>
            <div class="eight wide computer column eight wide tablet column sixteen wide mobile column" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
              <div class="main-content ">
               <div class="algo-works-fourth" ><img src="../assets/images/algo-works5.jpg" class="ui fluid image main-img-w"></div>
                <div class="mobile-only">
                  <h4>Golf Club</h4>
                </div>
                <div  class="opening-div_item grey">
                  <div class="text-container">
                    <h2>Pablo Picasso</h2>
                    <h4>Digital,UI/UX</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="eight wide computer column eight wide tablet column sixteen wide mobile column"  data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
              <div class="main-content ">
                <div class="algo-works-fourth">
                  <img src="../assets/images/works-alternative1.jpg" class="ui fluid image main-img-w">
                </div>
                <div class="mobile-only">
                  <h4>Business Eyes</h4>
                </div>
                <div  class="opening-div_item  purple">
                 <div class="text-container">
                   <h2>Pablo Picasso</h2>
                   <h4>Digital,UI/UX</h4>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide computer column row sixteen wide mobile column row eight wide tablet column row padded-mobile-2" >
            <div class="sixteen wide column" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
              <div class="main-content" >
                <div id="algo-works-second"><img src="../assets/images/algo-works2.jpg" class="ui fluid image main-img-w"></div>
                <div class="mobile-only">
                  <h4>Business Eyes</h4>
                </div>
                <div  class="opening-div_item coral">
                  <div class="text-container">
                    <h2>Pablo Picasso</h2>
                    <h4>Digital,UI/UX</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="sixteen wide column"  data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
              <div class="main-content">
                <div id="algo-works-fifth"><img src="../assets/images/iMac-5k-Retina-Office-Mockup-with-Items.jpg" class="ui fluid image main-img-w"></div>
                <div class="mobile-only">
                  <h4>Business Eyes</h4>
                </div>
                <div class="opening-div_item light-blue">
                  <div class="text-container">
                    <h2>Pablo Picasso</h2>
                    <h4>Digital,UI/UX</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   <div class="btn-div"> 
     <button class="algo-btn"><!--<img src="../assets/images/loading.svg">-->Load more</button>
   </div>
    <div class="next-link">
       <router-link tag="a" to="/careers">
      Careers
    </router-link>
    </div>
    <Footer id="footer"/>
  </main>

</template>

<script>
  import Navigation from '@/components/Navigation'
  import Footer from "@/components/Footer"
  export default {
    name: "ContactUs",
    data(){
      return{
          completed: true,
          aosAnimated: false
      }
    },
    components: {
      Navigation, Footer
    },
      mounted() {
      },
  }
</script>

<style scoped>
  /*hovering effect keyframe*/
  @-webkit-keyframes top-to-bottom{
    0% {top:160%;
      height: 0;
      overflow: hidden;}
  }
  .next-link{
    margin-top: 50px;
  }
  /*main{*/
    /*padding-bottom: 60px;*/
  /*}*/
  .team_header{
    margin-top: 150px;
    margin-bottom: 44px!important;
  }
  .team_header--transparent h1{
    color: #f5f5f5;
    font-size: 90px;
    font-family: "Arial Black";
    text-shadow: 1px 1px 5px #dcdbdb;
  }
  .team_header--paragraph p{
    text-align: justify;
    font-size: 20px;
    color: #5d5a5a;
  }
  .ui .team_text-wrapeer{
    position: relative;
    margin-top: 50px!important;

  }
  .wrapper_item{
    margin-top: 50px!important;
  }
  .team_section{
    padding-bottom: 50px;
  }
  .main-content{
    position: relative;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  .main-content img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .opening-div_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in;
  }
  .main-content:hover > .opening-div_item{
    height: 100%;
  }
  .main-content:hover > .opening-div_item > .text-container{
    animation: top-to-bottom 2s ease;
  }
  .main-content:hover > .opening-div_item > .text-container h2{
    height: auto;
  }
  .text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
  }
  .text-container h4,h2{
    height: 0;
    overflow: hidden;
    transition: 1.1s ease-in;
  }
  .text-container h4{
    margin-top: 0!important;
  }
  .text-container h2{
    margin-bottom: 0!important;
  }
  .light-blue{
    background-color: #b7b794;
  }
  .coral{
    background-color: #ff414b;
  }
  .grey{
    background-color: #c9c3ff;
  }
  .purple{
    background-color: #b768ff;
  }
  button{
    padding: 6px 26px;
  }
  .btn-div{
    text-align: center;
  }
  .btn-div img{
    width:16px;
    margin-right: 6px;
  }
  .main-container{
    height:auto;
  }
  .mobile-only{
    width: 90%;
    margin: 16px auto 16px;

  }
  .mobile-only h4{
    border-left: 1px solid #25ae85;
    padding-left: 4px;
    margin-left: -12px;
  }
  /*#footer{*/
    /*margin-top: 126px;*/
  /*}*/
  #algo-works-first{
    height: 280px;
    overflow: hidden;
    border-radius: 10px;
  }
  #algo-works-second{
    height: 550px;
    overflow: hidden;
    border-radius: 10px;
  }
  #algo-works-third{
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
  }
  .algo-works-fourth{
    height: 170px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  #algo-works-fifth{
    height: 220px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  /*media queries*/
  @media (max-width:576px){
    .ui.column.grid>[class*="eight wide"].column, .ui.grid>.column.row>[class*="eight wide"].column, .ui.grid>.row>[class*="eight wide"].column, .ui.grid>[class*="eight wide"].column {
      width: 100%!important;
    }
    #algo-works-first{
      height: 280px;
    }
    #algo-works-second{
      height: 280px;
    }
    #algo-works-third{
      height: 280px;
    }
    .algo-works-fourth{
      height: 280px;
    }
    #algo-works-fifth{
      height: 280px;
    }
    .padded-mobile-1{
      padding-bottom: 0!important;
    }
    .padded-mobile-2{
      padding-top: 0!important;
    }
    .main-content{
      margin-bottom: 0;
    }
    .main-content img{
      height: 100%!important;
      object-fit: cover;
    }
    .mobile-only{
      display:block;
    }
    .mobile-only p{
      font-size: 12px;
    }
    .opening-div_item{
      display:none;
    }
    .team_section{
      padding-bottom: 0;
    }
    .team_header--transparent h1{
      color: #5d5a5a;
      font-size: 30px;
      border-left: 1px solid #25ae85;
      padding-left: 4px;
      line-height: 1;
    }
    .ui.team_header{
      margin-top: 0px!important;
    }
    .team_header--paragraph p{
      font-size: 14px;
    }
  }
  @media (min-width:576px) and (max-width:768px){
    #algo-works-first{
      height: 280px;
    }
    #algo-works-second{
      height: 280px;
    }
    #algo-works-third{
      height: 280px;
    }
    .algo-works-fourth{
      height: 280px;
    }
    #algo-works-fifth{
      height: 280px;
    }
    .main-content img{
      height: 100%;
    }
    .mobile-only{
      display:block;
    }
    .mobile-only p{
      font-size: 14px;
    }
    .mobile-only h4{
      font-size: 20px;
    }
    .main-img-w{
      margin: 0 auto;
    }
    .opening-div_item{
      display:none;
    }
    .team_section{
      padding-bottom: 0;
    }
    .team_header--transparent h1{
      color: grey;
      font-size: 50px;
    }
    .team_header--paragraph p{
      font-size: 20px;
    }
  }
  @media (min-width:768px) and (max-width:992px){
    #algo-works-first {
      height: 350px;
    }
    #algo-works-second{
      height: 490px;}
    #algo-works-third {
      height: 224px;
    }
    #algo-works-third img{
      height: 100%;
    }
    .algo-works-fourth{
      height: 140px;
    }
    .algo-works-fourth img{
      height: 100%;
    }
    .mobile-only{
      display:none;
    }
    .main-img-w{
      margin: 0 auto;
      width: 100% !important;
    }
  }
  @media (min-width:992px) and (max-width:1200px){
    .mobile-only{
      display:none;
    }
    .team_header--transparent h1{
      line-height:0.8;
    }
  }
  @media (min-width:1201px){
    .mobile-only{
      display:none;
    }
    .team_header--transparent h1{
      line-height:0.8;
    }
  }
</style>
