<template>
  <div>
    <div class="ui grid">
      <div class="row sixteen wide computer column fourteen wide mobile column">
    <sui-container fluid text>
      <sui-accordion exclusive>
        <div class="accordion-content sixteen wide computer column">
          <sui-accordion-title @click="close=false; getTop(event)" ref="accordionTitle">
            <sui-icon :name="active" class="icon-check" ref="icon"/>
            <div class="plus-descr">Back-End developer</div>
            <div class="minus-descr">Full time</div>
          </sui-accordion-title>
          <sui-accordion-content>
            <div class="content-oppened">
              <p class="content_p">
                Hi there. Algorithm is a booming digital agency
                that specializes in web development and design. We are always looking for the best talent available.
              </p>
              <div class="share-part">
                <div class="btn-container-mobile">
                  <button>Apply</button>
                </div>
                <div class="p_next_img">
                  <div class="img-content--careers" >
                    <img src="../assets/images/share.svg" @click="close=!close" class="share-img">
                        <div class="toggling-div" :class="{'share-open':close}">
                          <div><i class="close icon" @click="close=!close"></i><h4>share</h4></div>
                          <div><i class="facebook icon"></i><a>facebook</a></div>
                          <div><i class="twitter icon"></i><a>twitter</a></div>
                          <div><i class="linkedin icon"></i><a>linkedin</a></div>
                        </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="ul-accordion" id="accordion-1">
                  <p>A minimum of 3 years experience in web programing</p>
                  <p> Excellent knowledge of the following programing languages : PHP, MySQL, Ajax,
                    JavaScript, jQuery, HTML/xHTML, CSS, XML</p>
                  <p>Good knowledge of HTML5 and Node.js</p>
                  <p>Basic knowledge of the principal “CMS Open Source” like Wordpress and Drupal</p>
                  <p>Capacity to elaborate custom solutions</p>
                  <p>Basic knowledge of the major creation tools like Photoshop and Illustrator</p>
                  <p>Good Knowledge of the APIs for Facebook, Twitter and Instagram</p>
                  <p>Experience in establishing online shops</p>
                  <p>Capable of working on multiple projects at the same time</p>
                  <p>Good stress management</p>
                  <p>Good team spirit</p>
                  <p>Positive attitude</p>
                </div>
              </div>
              <div class="btn-container">
                <button class="algo-btn">Apply</button>
              </div>
            </div>
          </sui-accordion-content>
        </div>

        <div class="accordion-content sixteen wide computer column"  >
          <sui-accordion-title @click="close=false; getTop($event)" ref="accordionTitle">
            <sui-icon :name="active" class="icon-check" ref="icon"/>
            <div class="plus-descr">Back-End developer</div>
            <div class="minus-descr">Full time</div>
          </sui-accordion-title>
          <sui-accordion-content>
            <div class="content-oppened">
              <p class="content_p">
                Hi there. Algorithm is a booming digital agency
                that specializes in web development and design. We are always looking for the best talent available.
              </p>
              <div class="share-part">
                <div class="btn-container-mobile">
                  <button>Apply</button>
                </div>
                <div class="p_next_img">
                  <div class="img-content--careers" >
                    <img src="../assets/images/share.svg" @click="close=!close" class="share-img">
                    <div class="toggling-div" :class="{'share-open':close}">
                      <div><i class="close icon" @click="close=!close"></i><h4>share</h4></div>
                      <div><i class="facebook icon"></i><a>facebook</a></div>
                      <div><i class="twitter icon"></i><a>twitter</a></div>
                      <div><i class="linkedin icon"></i><a>linkedin</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="ul-accordion" id="accordion-2">
                  <p>A minimum of 3 years experience in web programing</p>
                  <p> Excellent knowledge of the following programing languages : PHP, MySQL, Ajax,
                    JavaScript, jQuery, HTML/xHTML, CSS, XML</p>
                  <p>Good knowledge of HTML5 and Node.js</p>
                  <p>Basic knowledge of the principal “CMS Open Source” like Wordpress and Drupal</p>
                  <p>Capacity to elaborate custom solutions</p>
                  <p>Basic knowledge of the major creation tools like Photoshop and Illustrator</p>
                  <p>Good Knowledge of the APIs for Facebook, Twitter and Instagram</p>
                  <p>Experience in establishing online shops</p>
                  <p>Capable of working on multiple projects at the same time</p>
                  <p>Good stress management</p>
                  <p>Good team spirit</p>
                  <p>Positive attitude</p>
                </div>
              </div>
              <div class="btn-container">
                <button class="algo-btn">Apply</button>
              </div>
            </div>
          </sui-accordion-content>
        </div>

        <div class="accordion-content sixteen wide computer column" >
          <sui-accordion-title @click="close=false; getTop($event)" ref="accordionTitle">
            <sui-icon :name="active" class="icon-check" ref="icon"/>
            <div class="plus-descr">Back-End developer</div>
            <div class="minus-descr">Full time</div>
          </sui-accordion-title>
          <sui-accordion-content>
            <div class="content-oppened">
              <p class="content_p">
                Hi there. Algorithm is a booming digital agency
                that specializes in web development and design. We are always looking for the best talent available.
              </p>
              <div class="share-part">
                <div class="btn-container-mobile">
                  <button>Apply</button>
                </div>
                <div class="p_next_img">
                  <div class="img-content--careers" >
                    <img src="../assets/images/share.svg" @click="close=!close" class="share-img">
                    <div class="toggling-div" :class="{'share-open':close}">
                      <div><i class="close icon" @click="close=!close"></i><h4>share</h4></div>
                      <div><i class="facebook icon"></i><a>facebook</a></div>
                      <div><i class="twitter icon"></i><a>twitter</a></div>
                      <div><i class="linkedin icon"></i><a>linkedin</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="ul-accordion" id="accordion-3">
                  <p>A minimum of 3 years experience in web programing</p>
                  <p> Excellent knowledge of the following programing languages : PHP, MySQL, Ajax,
                    JavaScript, jQuery, HTML/xHTML, CSS, XML</p>
                  <p>Good knowledge of HTML5 and Node.js</p>
                  <p>Basic knowledge of the principal “CMS Open Source” like Wordpress and Drupal</p>
                  <p>Capacity to elaborate custom solutions</p>
                  <p>Basic knowledge of the major creation tools like Photoshop and Illustrator</p>
                  <p>Good Knowledge of the APIs for Facebook, Twitter and Instagram</p>
                  <p>Experience in establishing online shops</p>
                  <p>Capable of working on multiple projects at the same time</p>
                  <p>Good stress management</p>
                  <p>Good team spirit</p>
                  <p>Positive attitude</p>
                </div>
              </div>
              <div class="btn-container">
                <button class="algo-btn">Apply</button>
              </div>
            </div>
          </sui-accordion-content>
        </div>

        <div class="accordion-content sixteen wide computer column"  >
          <sui-accordion-title @click="close=false; getTop($event)" ref="accordionTitle">
            <sui-icon :name="active" class="icon-check" ref="icon"/>
            <div class="plus-descr">Back-End developer</div>
            <div class="minus-descr">Full time</div>
          </sui-accordion-title>
          <sui-accordion-content>
            <div class="content-oppened">
              <p class="content_p">
                Hi there. Algorithm is a booming digital agency
                that specializes in web development and design. We are always looking for the best talent available.
              </p>
              <div class="share-part">
                <div class="btn-container-mobile">
                  <button>Apply</button>
                </div>
                <div class="p_next_img">
                  <div class="img-content--careers" >
                    <img src="../assets/images/share.svg" @click="close=!close" class="share-img">
                    <div class="toggling-div" :class="{'share-open':close}">
                      <div><i class="close icon" @click="close=!close"></i><h4>share</h4></div>
                      <div><i class="facebook icon"></i><a>facebook</a></div>
                      <div><i class="twitter icon"></i><a>twitter</a></div>
                      <div><i class="linkedin icon"></i><a>linkedin</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="ul-accordion" id="accordion-4">
                  <p>A minimum of 3 years experience in web programing</p>
                  <p> Excellent knowledge of the following programing languages : PHP, MySQL, Ajax,
                    JavaScript, jQuery, HTML/xHTML, CSS, XML</p>
                  <p>Good knowledge of HTML5 and Node.js</p>
                  <p>Basic knowledge of the principal “CMS Open Source” like Wordpress and Drupal</p>
                  <p>Capacity to elaborate custom solutions</p>
                  <p>Basic knowledge of the major creation tools like Photoshop and Illustrator</p>
                  <p>Good Knowledge of the APIs for Facebook, Twitter and Instagram</p>
                  <p>Experience in establishing online shops</p>
                  <p>Capable of working on multiple projects at the same time</p>
                  <p>Good stress management</p>
                  <p>Good team spirit</p>
                  <p>Positive attitude</p>
                </div>
              </div>
              <div class="btn-container">
                <button class="algo-btn">Apply</button>
              </div>
            </div>
          </sui-accordion-content>
        </div>

        <div class="accordion-content sixteen wide computer column" >
          <sui-accordion-title @click="close=false; getTop($event)" ref="accordionTitle">
            <sui-icon :name="active" class="icon-check" ref="icon"/>
            <div class="plus-descr">Back-End developer</div>
            <div class="minus-descr">Full time</div>
          </sui-accordion-title>
          <sui-accordion-content>
            <div class="content-oppened">
              <p class="content_p">
                Hi there. Algorithm is a booming digital agency
                that specializes in web development and design. We are always looking for the best talent available.
              </p>
              <div class="share-part">
                <div class="btn-container-mobile">
                  <button>Apply</button>
                </div>
                <div class="p_next_img">
                  <div class="img-content--careers" >
                    <img src="../assets/images/share.svg" @click="close=!close" class="share-img">
                    <div class="toggling-div" :class="{'share-open':close}">
                      <div><i class="close icon" @click="close=!close"></i><h4>share</h4></div>
                      <div><i class="facebook icon"></i><a>facebook</a></div>
                      <div><i class="twitter icon"></i><a>twitter</a></div>
                      <div><i class="linkedin icon"></i><a>linkedin</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="ul-accordion" id="accordion-5">
                  <p>A minimum of 3 years experience in web programing</p>
                  <p> Excellent knowledge of the following programing languages : PHP, MySQL, Ajax,
                    JavaScript, jQuery, HTML/xHTML, CSS, XML</p>
                  <p>Good knowledge of HTML5 and Node.js</p>
                  <p>Basic knowledge of the principal “CMS Open Source” like Wordpress and Drupal</p>
                  <p>Capacity to elaborate custom solutions</p>
                  <p>Basic knowledge of the major creation tools like Photoshop and Illustrator</p>
                  <p>Good Knowledge of the APIs for Facebook, Twitter and Instagram</p>
                  <p>Experience in establishing online shops</p>
                  <p>Capable of working on multiple projects at the same time</p>
                  <p>Good stress management</p>
                  <p>Good team spirit</p>
                  <p>Positive attitude</p>
                </div>
              </div>
              <div class="btn-container">
                <button class="algo-btn">Apply</button>
              </div>
            </div>
          </sui-accordion-content>
        </div>

        <div class="accordion-content sixteen wide computer column">
          <sui-accordion-title @click="close=false; getTop($event)">
            <sui-icon :name="active" class="icon-check" ref="icon"/>
            <div class="plus-descr">Back-End developer</div>
            <div class="minus-descr">Full time</div>
          </sui-accordion-title>
          <sui-accordion-content>
            <div class="content-oppened">
              <p class="content_p">
                Hi there. Algorithm is a booming digital agency
                that specializes in web development and design. We are always looking for the best talent available.
              </p>
              <div class="share-part">
                <div class="btn-container-mobile">
                  <button>Apply</button>
                </div>
                <div class="p_next_img">
                  <div class="img-content--careers" >
                    <img src="../assets/images/share.svg" @click="close=!close" class="share-img">
                    <div class="toggling-div" :class="{'share-open':close}">
                      <div><i class="close icon" @click="close=!close"></i><h4>share</h4></div>
                      <div><i class="facebook icon"></i><a>facebook</a></div>
                      <div><i class="twitter icon"></i><a>twitter</a></div>
                      <div><i class="linkedin icon"></i><a>linkedin</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="ul-accordion" id="accordion-6">
                  <p>A minimum of 3 years experience in web programing</p>
                  <p> Excellent knowledge of the following programing languages : PHP, MySQL, Ajax,
                    JavaScript, jQuery, HTML/xHTML, CSS, XML</p>
                  <p>Good knowledge of HTML5 and Node.js</p>
                  <p>Basic knowledge of the principal “CMS Open Source” like Wordpress and Drupal</p>
                  <p>Capacity to elaborate custom solutions</p>
                  <p>Basic knowledge of the major creation tools like Photoshop and Illustrator</p>
                  <p>Good Knowledge of the APIs for Facebook, Twitter and Instagram</p>
                  <p>Experience in establishing online shops</p>
                  <p>Capable of working on multiple projects at the same time</p>
                  <p>Good stress management</p>
                  <p>Good team spirit</p>
                  <p>Positive attitude</p>
                </div>
              </div>
              <div class="btn-container">
                <button class="algo-btn">Apply</button>
              </div>
            </div>
          </sui-accordion-content>
        </div>
      </sui-accordion>
    </sui-container>
  </div>
  </div>
  </div>
</template>

<script>
    export default {
        name: "CareersAccordion",
      data: function(){
          return {
            active: "plus",
            close:false,
            name: "accordion-content"
          }
      },
      methods:{
        getTop($event){
            let accWrapper = this.$parent.$refs.uniqueName;
            let accwrapperTop = accWrapper.offsetTop;
            let currentTarget  = this.$refs.accordionTitle;
            let currentTargetTop = event.target.offsetTop;
            window.scrollTo(accwrapperTop, currentTargetTop);
            console.log(event);
        }
      }
    }
</script>

<style scoped>

  .title{
    padding:40px 190px 24px 140px!important;
    border-radius: 4px;
    margin: 20px 0;
    color: #606060;
    background-color: #fff;
    height: 100px;
  }
  .title:hover{
    background-color: #25ae85;
    color: #fff!important;
  }
  .title:hover .minus-descr::before{
    background-color: #fff;
  }
  .title:hover .plus{
   color: #fff;
  }
  .title.active{
    background-color: #ffffff;
    color: #000000!important;
  }
  .title.active:hover .minus-descr[data-v-79d520a3]::before {
    background-color: #5d5a5a;
  }
  .title.active:hover .plus{
    color: #5d5a5a;
  }
  .content_p{
    max-width:500px;
    display: inline-block;
    font-size: 26px;
  }
  .p_next_img{
    display: inline-block;
    z-index: 5;
  }
  .p_next_img img{
    width: 50px;
    background: #5d5a5a;
    border-radius: 24px;
    padding: 11px 0;
    height: 50px;
  }
  .share{
    display: inline-block;
    font-size: 99px;
    position: relative;
    background: red;
  }
  .share::before{
    content: "\F1E0";
    position: absolute;
    margin-top: 36px;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .content-oppened{
    padding: 0 70px;
    padding-bottom: 15px;
    padding-top: 20px;
  }
  .ui.accordion{
    width:950px;
    margin: 0 auto;
  }
  .ui.accordion .active.content{
    position: relative;
    top: -20px;
    padding: 0!important;
  }
.minus{
 color: #5d5a5a;
}
.plus{
  color: #5d5a5a;
}
  .ul-accordion p{
    position: relative;
    padding-left: 20px;
  }
    .ul-accordion p::before{
      content: '';
      display: block;
      width:12px;
      height: 12px;
      position: absolute;
      background-color: #5d5a5a;
      top:50%;
      left:0;
      border-radius: 50px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .btn-container{
      text-align: right;
    }
    button{
      margin-top: 24px;
      padding: 6px 60px;
      border: 1px solid #25ae85;
      border-radius: 4px;
      font-size: 21px;
      background-color: #25ae85;
      color: #fff;
    }
  .content_p{
    padding-left: 16px;
  }
  .plus-descr{
    display: inline-block;
    margin-left: 25px;
  }
.minus-descr{
  float: right;
  margin-right: 10vw;
  display: inline-block;
  padding-left: 16px;
  position: relative;
}
.minus-descr::before {
  content: '';
  width: 5px;
  display: inline-block;
  height: 31px;
  background-color: #5d5a5a;
  position: absolute;
  top: -10%;
  left: 3%;
  border-radius: 20px;
}
.active .plus:before{
  content: '\F068'
}
.accordion-content{
  border-radius: 4px;
  box-shadow: 1px 1px 16px -4px grey;
}
.btn-container-mobile{
  display: inline-block;
}
.img-content--careers{
  border-radius: 74px;
}
.toggling-div{
  position: relative;
  top:-45px;
  background-color: #5d5a5a;
  left: 0;
  border-radius: 10px;
  padding: 4px 16px 10px 10px;
  display: none;
}
/*share click opening the div*/
 .share-open{
   display: block;
 }
.toggling-div div{
  display: flex;
  align-items:center;
  margin-top: 4px;
  color: #fff;
}
.toggling-div a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}
.toggling-div i{
  cursor: pointer;
  position: relative;
}
.toggling-div div:hover >i{
  color: #25ae85;
}
.toggling-div div:hover >a{
  color: #25ae85;
}

.toggling-div h4{
  margin:0!important;
}
.close.icon,.share-img{
  cursor: pointer;
}
.toggling-div .icon:before{
  position: absolute;
  top: -2px;
  left: 0;
}

@media(max-width:319.98px){
  .ui.grid {
    display: flex;
    justify-content: center;
  }

  .ui.text.container {
    width: 100% !important;
  }

  /*accordion opening div with green hover background part with minus and plus */
  .minus-descr {
    float: unset;
    display: block;
    margin-left: 9px;
  }

  .minus-descr::before {
    display: none;
  }

  .plus-descr {
    margin-left: 0px;
  }

  /*opened white part introduction*/
  .content-oppened {
    padding: 0 6px;
  }

  .content_p {
    font-size: 16px;
    padding-left: 10px;
  }

  .ul-accordion p {
    font-size: 12px;
  }

  .ul-accordion p::before {
    top: 15%;
    left: 8px;
    width: 8px;
    height: 8px;
  }
  .btn-container{
    display: none;
  }
  /*part for sharing in social media */
  .share-part{
    position: relative;
    margin-bottom: 20px;
  }
  .p_next_img{
    position: absolute;
    top: 35%;
    left: 70%;
  }
  .p_next_img img{
    width:36px;
    height:36px;
  }
}

  @media(min-width:320px) and (max-width:576px) {
    .ui.grid {
      display: flex;
      justify-content: center;
    }
    .ui.text.container {
      width: 100% !important;
    }
    /*accordion opening div with green hover background part with minus and plus */
    .minus-descr {
      float: unset;
      display: block;
      margin-left: 9px;
    }
    .minus-descr::before {
      display: none;
    }
    .plus-descr {
      margin-left: 0px;
    }
    /*opened white part introduction*/
    .content-oppened {
      padding: 0 6px;
    }
    .content_p {
      font-size: 16px;
      padding-left: 10px;
    }
    .ul-accordion p {
      font-size: 12px;
    }
    .ul-accordion p::before {
      top: 15%;
      left: 8px;
      width: 8px;
      height: 8px;
    }
    .btn-container{
      display: none;
    }
    /*part for sharing in social media */
    .share-part{
      position: relative;
      margin-bottom: 20px;
    }
    .p_next_img{
      position: absolute;
      top: 35%;
      left: 58%;
    }
    .p_next_img img{
      width:36px;
      height:36px;
    }
    .btn-container-mobile button{
      padding:6px 40px;
    }
    .title{
      padding: 24px 20px 24px!important;
    }
  }
@media(min-width:576.98px) and (max-width:768px){
  .ui.grid{
    display: flex;
    justify-content: center;
  }
  .ui.text.container{
    width:100%!important;
  }
  .btn-container{
    display: none;
  }
  .share-part{
    position: relative;
    margin-bottom: 20px;
  }
  .p_next_img{
    position: absolute;
    top: 35%;
    left: 60%;
  }
  .p_next_img img{
    width:36px;
    height:36px;
  }
  .btn-container-mobile {
    display: block;
  }
  .share-part{
    position: relative;
    margin-bottom: 20px;
  }
  .ul-accordion p::before{
    height:10px;
    width:10px;
  }
  .content_p{
    font-size: 20px;
  }
  .title{
    padding: 38px 20px!important;
  }
}
@media(min-width:768.98px) and (max-width:992px){
  .ui.grid{
    display: flex;
    justify-content: center;
  }
  .ui.text.container{
    width:100%!important;
  }
  .btn-container-mobile {
    display: block;
  }
  .share-part{
    position: relative;
    margin-bottom: 20px;
  }
  .p_next_img{
    position: absolute;
    top: 35%;
    left: 60%;
  }
  .p_next_img img{
    width:36px;
    height:36px;
  }
  .btn-container {
    display: none;
  }
  .title{
    padding: 40px 120px 24px!important;
  }
}
  @media(min-width:992.98px) and (max-width:1200px){
    .btn-container {
      display: none;
    }
    .btn-container-mobile {
      display: block;
    }
    .share-part{
      position: relative;
      margin-bottom: 20px;
    }
    .p_next_img{
      position: absolute;
      top: 35%;
      left: 60%;
    }
    .p_next_img img{
      width:36px;
      height:36px;
    }
  }
@media (min-width:1200.98px){
  .p_next_img img{
    width:36px;
    height:36px;
  }
  .p_next_img{
      position: absolute;
      top: 4%;
      left: 81%;
    }
  .btn-container-mobile {
    display: none;
  }
}
</style>
