<template>
    <div class="map-container">
      <div class="maper" :class="{available: available}">
         <div class="inner">
           <div>
               <Map/>
           </div>
         </div>
      </div>
      <div class="location" @click="available=!available; nearby=!nearby; animate=!animate" :class="{nearby: nearby}" >
        <img src="../assets/images/mapslocation.svg" :class="{animate: animate}" class="locat-img">
        <p>Armenia/Yerevan Mamikonyants st.44</p>
      </div>
    </div>
</template>

<script>
    import Map from "@/components/Map"

    export default {
      name: "ContactMap",
      components: {
        Map
      },
      data() {
        return {
          available: false,
          nearby: false,
          animate: true,
          active: true,
          places: null,
          latLon: [],
          placemarks: [
            {
              coords: [54.8, 39.8],
              properties: {}, // define properties here
              options: {}, // define options here
              clusterName: '1',
              balloonTemplate: '<div>"Your custom template"</div>',
              callbacks: { click: function() {} }
            }
          ]
        }
      },
      methods: {

      },
      computed: {
        compClasses: function(){
            debugger;
           return {
             available: this.available,
             nearby: this.nearby
           }
        }
      }
    }
</script>

<style scoped>
   .map-container{
     position: relative;
   }
   .maper{
     height:0;
     width:100%;
     transition: height 2s;
     overflow: hidden;
     position: relative;
     margin-top: 137px;
     margin-bottom: 70px;
   }
  .inner{
    width: 100%;
    height: 100%;
  }
  .location{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: bottom 3s;
    -webkit-transition: bottom 3s;
    -moz-transition: bottom 3s;
    -ms-transition: bottom 3s;
    -o-transition: bottom 3s;
  }
  img{
    background-color: #fff;
    box-shadow: 2px 2px 34px -5px #b8adad;
    padding: 11px 16px;
    cursor: pointer;
    height: 60px;
    border-radius: 44px;
    width: 60px;
    margin-top: 16px;
  }
  .available{
    height: 400px;
  }
  .nearby{
      bottom: -50px;
  }
  .animate{
    transform: scale(1.1, 1.1);
  }
   @keyframes mymove {
     0% {top: -80px;}
     100% {top: -60px;}
   }
  /*creating pulsing effect for map icon */
   .locat-img{
     box-shadow: 0 0 0 rgba(140, 204, 165, 0.8);
     animation: pulse 1.3s infinite;
   }

   @-webkit-keyframes pulse {
     0% {
       -webkit-box-shadow: 0 0 0 0 rgba(140, 204, 165, 0.8);
     }
     70% {
       -webkit-box-shadow: 0 0 0 12px rgba(140, 204, 165, 0.8);
     }
     100% {
       -webkit-box-shadow: 0 0 0 0 rgba(140, 204, 165, 0);
     }
   }
   @keyframes pulse {
     0% {
       -moz-box-shadow: 0 0 0 0 rgba(140, 204, 165, 0.8);
       box-shadow: 0 0 0 0 rgba(140, 204, 165, 0.8);
     }
     70% {
       -moz-box-shadow: 0 0 0 12px rgba(140, 204, 165, 0);
       box-shadow: 0 0 0 12px rgba(140, 204, 165, 0);
     }
     100% {
       -moz-box-shadow: 0 0 0 0 rgba(140, 204, 165, 0);
       box-shadow: 0 0 0 0 rgba(140, 204, 165, 0);
     }
   }
</style>
