<template>
    <div>
      <div class="ui grid vertically padded">
        <div class="sixteen wide column row">
          <div class="five wide computer column mail-phone_part sixteen wide mobile column">
            <div>
              <h3>You are welcome
                anytime :)
              </h3>
              <p class="main-text">
                Glad to see you anytime
                from 10am to 6pm
                except on Fridays
                and official vacations.
              </p>
              <div class="phone_mail">
                <p class="mobile-wheight"> Phone.</p>
                <p>+(374)-10-54-54-54</p>
                <br>
                <p class="mobile-wheight">Email</p>
                <p>Info@algorithm.am</p>
                <br>
                <p class="mobile-wheight">Adress</p>
                <p class="mobile-wheight--adress">Mamikonyants st.44</p>
              </div>
              <div class="social_media">
                <i class="linkedin icon"></i>
                <i class="instagram icon"></i>
                <i class="facebook icon"></i>
                <i class="twitter icon"></i>
              </div>
            </div>
          </div>
          <div class="nine wide computer column sixteen wide mobile column contact-form">
            <div class="ui form">
              <div class="fields team_fields">
                <div class="ui middle aligned three column grid">
                  <div class="row row-wrapper-cf">
                    <div class="field sixteen wide mobile five wide computer column team-item">
                      <label>Name</label>
                      <input type="text">
                    </div>
                    <div class="field sixteen wide mobile five wide computer column team_input team-item">
                      <label>Email</label>
                      <input type="email">
                    </div>
                    <div class="field sixteen wide mobile five wide computer column team_input team-item">
                      <label>Phone number</label>
                      <input type="number">
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Subject</label>
                <select class="ui search dropdown">
                  <option value="">All</option>
                  <option value="AF">Back end</option>
                  <option value="AX">Front end</option>
                  <option value="AL">UI/UX designer</option>
                </select>
              </div>
              <div class="field">
                <label>Resume</label>
                <div class="file_input">
                  <input type="file">
                  <img src="../assets/images/attacher.png" class="paperclip">
                </div>
              </div>
              <div class="field">
                <label>Message</label>
                <textarea></textarea>
              </div>
            </div>
            <button class="algo-btn">Send Message</button>
          </div>
        </div>

      </div>
    </div>
</template>

<script>
    export default {
        name: "ContactForm"
    }
</script>

<style scoped>
  h3{
    font-family: "Arial LatArm";
    font-size: 38px;
  }
  p{
    width: 229px;
    font-size: 18px;
    margin-top:40px;
  }
  .mail-phone_part{
    margin-top: 50px;
  }
  .main-text{
    font-size: 24px;
    font-weight: lighter;
  }
  .phone_mail{
    margin-top: 40px;
  }
  .phone_mail p{
    font-size: 14px;
    display: inline;
  }
  .phone_mail p:nth-child(2){
    margin-left:20px;
  }
  .phone_mail p:nth-child(5){
    margin-left:30px;
  }
  .fields.team_fields{
    margin-bottom: 0;
  }
  img{
    width:20px;
    margin-right: 10px;
  }
  .social_media{
    margin-top: 40px;
  }
  .social_media i{
    cursor: pointer;
  }
  label{
    color: #5d5a5a;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  textarea,select,input{
    border: 1px solid #606060!important;
  }
  input:focus{
    border:1px solid #25ae85 !important;
  }
  input[type=file]{
   opacity: 0;
    padding: 4px!important;
  }
  .team-item{
    margin-bottom:14px!important;
  }
 .file_input{
   border: 1px solid #606060;
   position: relative;
   border-radius: 4px;
 }
 .file_input:focus{
   border:1px solid #25ae85 !important;
   outline:none;
 }
 .file_input > input:focus{
   border:1px solid #25ae85 !important;
 }
  .paperclip{
    font-size: 30px;
    color: #25ae85;
    position: absolute;
    z-index: -1;
    width: 32px;
    top: 28%;
    left: 1%;
  }
  .team_fields .ui.grid{
    width:100%;
  }
  .contact-form{
    margin-left: auto;
  }
  textarea{
    max-height: 200px!important;
  }
  textarea:focus{
    border: 1px solid #25ae85 !important;
  }
  select:focus{
    border: 1px solid #25ae85 !important;
  }
  textarea::-webkit-scrollbar {
    width: 1px;
  }
  textarea::-webkit-scrollbar-track {
    z-index: 2;
  }
  textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
 @media (max-width:768px){
   .team_input{
     margin-left: 0!important;
   }
   .mail-phone_part h3{
     font-size: 28px;
   }
   .main-text{
     font-size: 20px;
     margin-top: 20px;
   }
   .mobile-wheight{
     font-weight: bold;
   }
   .mobile-wheight--adress{
     display: inline-block;
   }
   .phone_mail p:nth-child(8){
     margin-left:22px;
   }
   .row-wrapper-cf{
     padding-bottom: 0!important;
   }
   p{
     width:100%;
   }
   .phone_mail{
     margin-top:20px;
   }
   .social_media{
     margin-top:20px;
   }

 }

  @media (min-width:768.98px) and (max-width:992px){
    .phone_mail p:nth-child(8){
      margin-left:23px;
    }
    .fields.team_fields{
      margin-bottom: 0;
    }
    .row-wrapper-cf{
      padding-bottom: 0!important;
    }
    p{
      width:100%;
    }

  }
  @media (min-width:992px) and (max-width:1200px){
    .mobile-wheight--adress{
      display: none;
    }
    .phone_mail p:nth-child(8){
      display: none!important;
    }
    .phone_mail p:nth-child(7){
      display: none!important;
    }
    .team-item{
      margin-bottom:0!important;
    }
    .row-wrapper-cf{
      padding-bottom: 14px!important;
    }
    .row-wrapper-cf{
      justify-content:space-between ;
    }
    .team_input{
      margin-left:15px!important;
    }

  }
  @media (min-width:1201px){
    .mobile-wheight--adress{
      display: none;
    }
    .team_input{
      margin-left:18px!important;
    }.phone_mail p:nth-child(8){
       display: none!important;
     }
    .phone_mail p:nth-child(7){
      display: none!important;
    }
    .team-item{
      margin-bottom:0!important;
    }
    .row-wrapper-cf{
      padding-bottom: 14px!important;
    }
  }
</style>

