<template>
    <div>
        <div class="careers-wrapper">
            <router-link tag="a" to="/careers">
                <div class="green-item">
                    <h4>Careers</h4>
                    <div class="text-content-wrapper top-positioned">
                        <div class="text-content algo-item-third green-item">
                            <h2>Fresh Talent <br> Needed</h2>
                        </div>
                    </div>

                </div>
                <div class="accordion-wrapper">
                    <div class="accordion-content">
                        <div class="plus">
                            Back-End Developer
                        </div>
                        <div class="minus">
                            Full-time
                        </div>
                    </div>
                    <div class="accordion-content">
                        <div class="plus">
                            Back-End Developer
                        </div>
                        <div class="minus">
                            Full-time
                        </div>
                    </div>
                    <div class="accordion-content">
                        <div class="plus">
                            Back-End Developer
                        </div>
                        <div class="minus">
                            Full-time
                        </div>
                    </div>
                    <div class="accordion-content">
                        <div class="plus">
                            Back-End Developer
                        </div>
                        <div class="minus">
                            Full-time
                        </div>
                    </div>
                    <div class="arrow-div-hover bottom-positioned">
                        <img src="../assets/images/right-arrow-green.svg">
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomeGreenItem"
    }
</script>

<style scoped>
    #typer-wrapper h2{
        color: #25ae85;
        font-family: ArTarumianHelvetica;
        font-size: 34px;
        margin-left: 70px;
        display: inline-block;
    }
    .changing-items p{
        text-align: justify;
        color: #5d5a5a;
    }
    .flex-element img{
        height: 100%;
        width: 101%;
    }
    .green-item{
        color: #fff;
        padding: 40px 80px;
        background-color: #25ae85;
        position: relative;
        height: 100%;
    }
    .green-item h4{
        margin-bottom: 50px;
    }
    .green-item:hover .arrow-div-hover{
        animation: arrow 0.6s infinite alternate ease-in-out;
    }
    .changing-info-box:hover .arrow-div-hover{
        animation: arrow 0.6s infinite alternate ease-in-out;
    }
    @-webkit-keyframes arrow{
        0% { -webkit-transform: translateX(0); opacity: 0.6 }
        100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
    }
    /*keyframe rules for text appearance*/
    .text-content{
        position: relative;
        overflow: hidden;
    }
    .text-content h2{
        position: relative;
    }
    #algo-item-second h2{
        font-size: 30px;
        width: 374px;
    }
    .algo-item-third{
        height: 200px;
    }
    .green-item h2{
        position: relative;
        background-color: #25ae85;
        transition:all 1.6s ease-in-out;
    }
    .green-item:hover h2{
        animation:top-to-bottom 1.4s alternate ease-in-out;
    }
    .text-content.algo-item-third.green-item{
        padding: 0;
    }
    @-webkit-keyframes top-to-bottom{
        0% {top:70%;
            height: 0;
            overflow: hidden;}
        100% {top: 0;
            height: 300px;
            overflow: visible;}
    }
    #green-padded .text-content{
        width: auto;
    }
    .green-item h4,h2,p{
        color: #fff;
    }

    h4{
        color: #fff;
        font-size: 24px;
        border-left: 1px solid #fff;
        padding-left: 6px;
    }
    .text-content{
        color: #fff;
        width: 290px;
    }
    .text-content h2{
        font-size: 40px;
    }
    .text-content p{
        font-size: 18px;
    }
    .next-link h2{
        font-size: 46px;
        text-align:center;
        color: #5d5a5a;
    }
    .top-positioned{
        position: relative;
        top: 15%;
    }
    .arrow-div-hover{
        position: absolute;
        bottom: 5%;
        width: 40px;
        left: 83%;
    }
    .changing-info-box.positioning .arrow-div-hover{
        left: 92%;
    }
    .bottom-positioned{

    }
    #flex-hover-grow .text-content{
        width: 320px;
    }
    #flex-hover-grow h2{
        font-size: 50px;
    }
    .careers-wrapper.green-item{
        padding: 0;
    }
    /*.careers-wrapper{*/
        /*background-color: #25ae85;*/
        /*position: absolute;*/
        /*width: 100%;*/
        /*height: 438px;*/
        /*top:0;*/
        /*-webkit-transition: right 0.7s ease-in-out;*/
        /*-moz-transition:  right 0.7s ease-in-out;*/
        /*-ms-transition:  right 0.7s ease-in-out;*/
        /*-o-transition:  right 0.7s ease-in-out;*/
        /*transition:  right 0.7s ease-in-out;*/
        /*-webkit-box-shadow: 0 0 20px 0 rgba(93, 94, 93, 0.2);*/
        /*-moz-box-shadow: 0 0 20px 0 rgba(93, 94, 93, 0.2);*/
        /*box-shadow: 0 0 20px 0px rgba(93, 94, 93, 0.2);*/
    /*}*/
    #flex-hover-grow:hover + .careers-wrapper{
        right: 0;
    }
    .careers-wrapper h2{
        font-size: 50px;
    }
    #flex-hover-grow:hover + .careers-wrapper h2{
        animation:top-to-bottom 1.4s alternate ease-in-out;
    }
    .careers-wrapper:hover .arrow-div-hover img{
        animation: arrow 0.6s infinite alternate ease-in-out;
    }
    #flex-hover-grow .green-item:hover #flex-hover-grow h2{
        animation:unset;
    }
    .careers-wrapper:hover{
        right: 0;
    }
    .careers-wrapper .green-item{
        display: inline-block;
        width: 54%;
        height: auto;
    }
    .careers-wrapper .green-item h4{
        margin-bottom: 80px;
    }
    .careers-wrapper .accordion-wrapper{
        display: inline-block;
        width: 44%;
        color: #000;
        padding: 40px 80px;
    }
    .careers-wrapper .text-content.algo-item-third.green-item{
        width: 100%;
        height: 140px;
    }
    .careers-wrapper .text-content-wrapper.top-positioned{
        width: 80%;
    }
    .careers-wrapper .accordion-wrapper .arrow-div-hover{
        background-color: #fff;
        padding: 16px 30px 6px 30px;
        width: 112px;
        bottom: 0;
        height: 50px;
        left: 90.1%;
    }
    .careers-wrapper .accordion-wrapper .arrow-div-hover img{
        width: 50px;
    }
    .accordion-content{
        padding: 14px 20px;
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        width: 320px;
        margin:12px auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .plus{
        position: relative;
    }
    .plus::before{
        content: '';
        background-image: url('../assets/images/add.svg');
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 30px;
        position: absolute;
        top: 0;
        left: -30px;
    }
    .minus{
        position: relative;
    }
    .minus::before{
        content: '';
        background-image: url("../assets/images/minus.svg");
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 30px;
        position: absolute;
        top: 0;
        left: -30px;
    }
    @media(min-width: 992px) and (max-width: 1200px){
        .text-content h2{
            font-size: 32px;
        }
    }
</style>