<template>
  <div v-bind:class="{ show: showPart }" class="show-triangle-big">
    <div v-if="categoryIndex === 1" class="opened-description-box part-bg-1">
      <div class="desc-text">
        <h3>Mobile Application</h3>
      </div>
    </div>
    <div v-else-if="categoryIndex === 2" class="opened-description-box part-bg-2">
      <div class="desc-text">
        <h3>UI/UX Design</h3>
      </div>
    </div>
    <div v-else-if="categoryIndex === 3" class="opened-description-box part-bg-3">
      <div class="desc-text">
        <h3>Ecommerce platforms</h3>
      </div>
    </div>
    <div v-else-if="categoryIndex === 4" class="opened-description-box part-bg-4">
      <div class="desc-text">
        <h3>CRM/ERP HRM</h3>
      </div>
    </div>
    <div v-else-if="categoryIndex === 5" class="opened-description-box part-bg-5">
      <div class="desc-text">
        <h3>Single page application</h3>
      </div>
    </div>
    <div v-else-if="categoryIndex === 6" class="opened-description-box part-bg-6">
      <div class="desc-text">
        <h3>About Service</h3>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "HomeAnimationOpening",
        props: ['category'],
        data: function () {
          return {
            categoryIndex: null,
            showPart: false
          }
        },
        created() {

        },
        methods: {
          openPart() {

          }
        },
        watch: {
          category(val, oldVal) {
            setTimeout(() => {
              this.showPart = false;
              setTimeout(() => {
                this.showPart = true;
                this.categoryIndex = val;
              },500)
            }, 500)
          },
        }
    }
</script>

<style scoped>
  .show-triangle-big{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
  }
  .show-triangle-big.show{
    opacity: 1;
  }
  .show-triangle-big .opened-description-box{
    overflow: hidden;
    position: absolute;
    background: url("http://hdwallpaperfx.com/wp-content/uploads/2016/12/Creative-Universe-Planet-Wallpaper.jpg") no-repeat;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
    clip-path: polygon(2% 50%, 100% 100%, 100% 0%);
  }
  .opened-description-box .desc-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .opened-description-box .desc-text h3{
    font-size: 3vw;
  }
</style>
