<template>
    <div class="homepage">
      <div id="typer-wrapper" :class="{'positioning': activePosition }">
          <h2>Algorithm Solutions Digital company.</h2>
          <vue-typer style="margin-left: 0;" erase-style='backspace'  :erase-delay='60' :pre-type-delay=2000 :pre-erase-delay='1100' :text='["Front End","Back End","Web Design","Project Management"]' caret-animation='phase'>
          </vue-typer>
      </div>
        <div id="service-name" class="service-title">
        </div>
        <div class="nine wide computer right floated column nine wide tablet right floated column sixteen wide mobile column team_header--paragraph" id="homepage-wrapper">
            <router-link tag="a" to="/service" >
                <div class="changing-info-box positioning">
                    <div class="changing-items">
                        <h3 class="heading-match">Service</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="changing-items">
                        <!--<transition-group name="list" tag="div">-->
                            <!--<img v-for="img in images" :src="img" :key="img">-->
                        <!--</transition-group>-->
                            <img ref="topImages" src="../assets/images/ux-block.png" :class="{activeFirst: activeState}"/>
                            <img ref="topImages" src="../assets/images/white-block2.png" :class="{activeSecond: activeState}"/>
                            <img ref="topImages" src="../assets/images/develop-block.png" :class="{activeThird: activeState}"/>
                            <img ref="topImages" src="../assets/images/yellow-block1.png" :class="{activeFourth: activeState}"/>
                            <img ref="topImages" src="../assets/images/square-block.png" :class="{activeFifth: activeState}"/>
                            <img ref="topImages" src="../assets/images/cloud-block.png" :class="{activeSixth: activeState}"/>
                            <img ref="topImages" src="../assets/images/white-block1.png" :class="{activeSeventh: activeState}"/>
                    </div>
                    <div class="arrow-div-hover">
                        <img src="../assets/images/right-arrow-green.svg">
                    </div>
                </div>
            </router-link>
            <!--grid part flex box-->
            <div id="flex-wrapper">
                <div class="flex-element img-item" >
                    <img src="../assets/images/staff-John.jpg">
                </div>
                <router-link tag="a" to="/team" class="flex-element shadowed link-item">
                    <div class="green-item">
                      <h4>Team</h4>
                        <div class="text-content-wrapper">
                            <div class="text-content  top-positioned" id="algo-item-first">
                                <h2>Fuelled by passion & curiosity</h2>
                            </div>
                            <p>The work is as important as the pleasure we get from doing it. Such an authentic corporate culture isn’t imposed, and can’t just be invented.</p>
                        </div>
                        <div class="arrow-div-hover bottom-positioned">
                            <img src="../assets/images/right-arrow-white.svg">
                        </div>
                    </div>
                </router-link>
                <router-link tag="a" to="/works" class="flex-element shadowed link-item" data-aos="fade-up" data-aos-delay="150" data-aos-easing="ease-out-cubic">
                        <div class="green-item" id="green-padded">
                            <h4>Works</h4>
                            <div class="text-content-wrapper">
                                <div class="text-content" id="algo-item-second">
                                    <h2>Our works are for
                                        clients who are
                                        spreading values
                                        and principles to the
                                        world to become
                                        a better place.</h2>
                                </div>
                            </div>
                            <div class="arrow-div-hover bottom-positioned">
                                <img src="../assets/images/right-arrow-white.svg">
                            </div>
                        </div>
                </router-link>
                <div class="flex-element img-item" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
                    <carousel :perPageCustom="[[480, 1], [768, 1]]" :autoplay="true" :loop="true" :autoplayTimeout=3000 :nav="false" :dots="false" :dotsEach="false">
                        <slide>
                            <img src="../assets/images/algohomeservices1 - Copy - Copy.jpg" alt="">
                        </slide>
                        <slide>
                            <img src="../assets/images/contact1.jpg" alt="">
                        </slide>
                        <slide>
                            <img src="../assets/images/newimage1.jpg" alt="">
                        </slide>
                        <slide>
                            <img src="../assets/images/staff-John.jpg" alt="">
                        </slide>
                        <slide>
                            <img src="../assets/images/contacts2.jpg" alt="">
                        </slide>
                        <slide>
                            <img src="../assets/images/contacts3.jpg" alt="">
                        </slide>
                    </carousel>
                </div>
                    <div class="flex-element image-careers img-item white-item" id="careers-next-img" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
                        <div class="accordion-wrapper">
                            <div class="accordion-content" data-aos="fade-up-right" data-aos-delay="230" data-aos-easing="ease-out-cubic">
                                <div class="plus">
                                    Back-End Developer
                                </div>
                                <div class="minus">
                                    Full-time
                                </div>
                            </div>
                            <div class="accordion-content" data-aos="fade-up-right" data-aos-delay="290" data-aos-easing="ease-out-cubic">
                                <div class="plus">
                                    Back-End Developer
                                </div>
                                <div class="minus">
                                    Full-time
                                </div>
                            </div>
                            <div class="accordion-content" data-aos="fade-up-right" data-aos-delay="360" data-aos-easing="ease-out-cubic">
                                <div class="plus">
                                    Back-End Developer
                                </div>
                                <div class="minus">
                                    Full-time
                                </div>
                            </div>
                            <div class="accordion-content" data-aos="fade-up-right" data-aos-delay="420" data-aos-easing="ease-out-cubic">
                                <div class="plus">
                                    Back-End Developer
                                </div>
                                <div class="minus">
                                    Full-time
                                </div>
                            </div>
                        </div>
                    </div>
                <router-link tag="a" to="/works" class="flex-element shadowed link-item" data-aos="fade-up" data-aos-delay="150" data-aos-easing="ease-out-cubic">
                    <div class="green-item" >
                        <h4>Works</h4>
                        <div class="text-content-wrapper">
                            <div class="text-content" id="algo-item-third">
                                <h2>Fresh Talent Needed</h2>
                            </div>
                        </div>
                        <div class="arrow-div-hover bottom-positioned">
                            <img src="../assets/images/right-arrow-white.svg">
                        </div>
                    </div>
                </router-link>
                    <router-link tag="a" to="/careers" class="flex-element shadowed radiused-left link-item" data-aos="fade-up" data-aos-delay="150" data-aos-easing="ease-out-cubic">
                    <div class="green-item">
                        <h4>Contact us</h4>
                        <div class="text-content-wrapper top-positioned">
                            <div class="text-content" id="algo-item-fourth">
                                <h2>You are
                                    welcome
                                    anytime :)</h2>
                            </div>
                        </div>
                        <div class="arrow-div-hover bottom-positioned">
                            <img src="../assets/images/right-arrow-white.svg">
                        </div>
                    </div>
                </router-link>
                    <div class="flex-element radiused-right img-item" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-out-cubic">
                        <img src="../assets/images/Untitled-5.jpg">
                    </div>
            </div>
        </div>
        <div class="next-link">
            <router-link tag="a" to="/team">
                Team
            </router-link>
        </div>
        <Footer/>
    </div>

    <!--end of logo going down part-->
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel'
    import { VueTyper } from 'vue-typer'
    import Footer from '@/components/Footer'
    import cloud from '../assets/images/cloud-block.png'

    export default {
        name: "HomepageNew",
        data(){
            return {
                activePosition: true,
                activeState: false,
                active: false,
                show:false,
                isActive: false,
                // images: ['../assets/images/square-block.png','../assets/images/ux-block.png'],
            }
        },
        methods: {
            mouseover: function(){
                this.isActive = true
            },

            mouseleave: function(){
                this.isActive = false
            },
            // positionedTop: function(){
            //     this.$el.querySelector('.top-images').style.top=0;
            // }
        },
        components: {
            VueTyper,
            Carousel,
            Slide,
            Footer,
            cloud
        },
        created () {
        },
        mounted(){
            this.activeState = !this.activeState;
        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.1s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
       opacity: 0;
    }
    .active {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        -webkit-transition:all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition: all 0.5s ease;
    }
    #typer-wrapper{
        height: 50px;
    }
    #typer-wrapper h2{
        color: #25ae85;
        font-size: 34px;
        margin-left: 70px;
        display: inline-block;
    }
    #homepage-wrapper{
        margin-top: 120px;
    }
    .changing-info-box{
        -webkit-box-shadow: 0 0 20px 0 rgba(93, 94, 93, 0.2);
        -moz-box-shadow: 0 0 20px 0 rgba(93, 94, 93, 0.2);
        box-shadow: 0 0 20px 0 rgba(93, 94, 93, 0.2);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .shadowed:hover{
        -webkit-box-shadow: 0 0 18px 5px rgba(93, 94, 93, 0.2);
        -moz-box-shadow: 0 0 18px 5px rgba(93, 94, 93, 0.2);
        box-shadow: 0 0 18px 5px rgba(93, 94, 93, 0.2);
    }
    .radiused-left{
        border-bottom-left-radius: 8px;
    }
    .radiused-right{
        border-bottom-right-radius: 8px;
        overflow: hidden;
    }
    .homepage{
        margin-top: 100px;

    }
    .changing-info-box{
        height: 440px;
        display: flex;
        justify-content: space-between;
    }
    .changing-items:nth-child(1){
        flex-basis: 24%;
        padding: 40px 20px 40px 67px;
    }
    .changing-items:nth-child(2){
        flex-basis: 70%;
    }

    .heading-match{
        color: #25ae85;
        font-size: 24px;
        border-left: 1px solid #25ae85;
        padding-left: 4px;
        margin-bottom: 50px;
    }
    .changing-items p{
        text-align: justify;
        color: #5d5a5a;
    }

    #flex-wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .flex-element{
        flex-basis: 50%;
        flex-grow: 1;
        height: 438px;
        overflow: hidden;
    }
    .flex-element img{
        height: 100%;
        width: 101%;
    }
    .link-item{
        position: relative;
        z-index: 9;
    }
    .img-item{
        position: relative;
        z-index: 1;
    }
    .white-item{
        background-color: #fff;
        flex-basis: 50%;
        height: 438px;
        position: relative;
    }
    .green-item{
        color: #fff;
        padding: 40px 80px;
        background-color: #25ae85;
        position: relative;
        height: 438px;
    }
    .green-item h4{
        margin-bottom: 50px;
    }
    .green-item-not-animatable{
        color: #fff;
        padding: 40px 80px;
        background-color: #25ae85;
        position: relative;
        height: 100%;
    }
    .green-item:hover .arrow-div-hover{
        animation: arrow 0.6s infinite alternate ease-in-out;
    }
    .changing-info-box:hover .arrow-div-hover{
        animation: arrow 0.6s infinite alternate ease-in-out;
    }
    @-webkit-keyframes arrow{
        0% { -webkit-transform: translateX(0); opacity: 0.6 }
        100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
    }
    /*keyframe rules for text appearance*/
    .text-content{
        position: relative;
        overflow: hidden;
    }
    .text-content h2{
        position: relative;
    }
    #algo-item-first{
        height: 190px;
    }
    #algo-item-second{
        height: 310px;

    }
    #algo-item-second h2{
        font-size: 30px;
        width: 374px;
    }
    #algo-item-third{
        height: 310px;
        width: 400px;
    }
    #algo-item-third h2{
        font-size: 62px;
        width: 374px;
    }
    .algo-item-third{
        height: 200px;
    }
    #algo-item-fourth{
        height: 250px;
    }
    #algo-item-fourth h2{
        font-size: 50px;
    }
    .green-item h2{
        position: relative;
        background-color: #25ae85;
        transition:all 1.6s ease-in-out;
    }
    .green-item:hover h2{
        animation:top-to-bottom 1.4s alternate ease-in-out;
    }
    .text-content.algo-item-third.green-item{
        padding: 0;
    }
    @-webkit-keyframes top-to-bottom{
        0% {top:70%;
            height: 0;
            overflow: hidden;}
        100% {top: 0;
            height: 300px;
            overflow: visible;}
    }
    #green-padded{
        padding: 40px 0 40px 80px;
    }
    #green-padded .text-content{
        width: auto;
    }
    .green-item h4,h2,p{
        color: #fff;
    }

    .w-100{
        width: 100%;
    }
    h4{
        color: #fff;
        font-size: 24px;
        border-left: 1px solid #fff;
        padding-left: 6px;
    }
    .text-content{
        color: #fff;
        width: 290px;
    }
    .text-content h2{
        font-size: 40px;
    }
    .text-content p{
        font-size: 18px;
    }
    .next-link{
        margin-top:50px;
    }
    .next-link h2{
           font-size: 46px;
           text-align:center;
           color: #5d5a5a;
       }
    .top-positioned{
        position: relative;
    }
    .arrow-div-hover{
        position: absolute;
        bottom: 5%;
        width: 40px;
        left: 83%;
    }
    .positioning{
        position: relative;
    }
    .changing-info-box.positioning .arrow-div-hover{
        left: 92%;
    }
    .bottom-positioned{
        
    }
    /*careers part opening*/
    /*#flex-hover-grow{*/
        /*position: relative;*/
    /*}*/
    #flex-hover-grow .text-content{
        width: 320px;
    }
    #flex-hover-grow h2{
        font-size: 50px;
    }
    .careers-wrapper.green-item{
        padding: 0;
    }
    /*.careers-wrapper .text-content.algo-item-third h2{*/
        /*animation:top-to-bottom 2s alternate ease-in-out;*/
    /*}*/
    .careers-wrapper{
        background-color: #25ae85;
        position: absolute;
        width: 100%;
        height: 438px;
        top:0;
        right: 50%;
        -webkit-transition: right 0.7s ease-in-out;
        -moz-transition:  right 0.7s ease-in-out;
        -ms-transition:  right 0.7s ease-in-out;
        -o-transition:  right 0.7s ease-in-out;
        transition:  right 0.7s ease-in-out;
        -webkit-box-shadow: 0 0 20px 0 rgba(93, 94, 93, 0.2);
        -moz-box-shadow: 0 0 20px 0 rgba(93, 94, 93, 0.2);
        box-shadow: 0 0 20px 0px rgba(93, 94, 93, 0.2);
    }
    #flex-hover-grow:hover + .careers-wrapper{
        right: 0;
    }
    .careers-wrapper h2{
        font-size: 50px;
    }
    #flex-hover-grow:hover + .careers-wrapper h2{
        animation:top-to-bottom 1.4s alternate ease-in-out;
    }
    .careers-wrapper:hover .arrow-div-hover img{
        animation: arrow 0.6s infinite alternate ease-in-out;
    }
    #flex-hover-grow .green-item:hover #flex-hover-grow h2{
        animation:unset;
    }
    .careers-wrapper:hover{
        right: 0;
    }
    .careers-wrapper .green-item{
        display: inline-block;
        width: 54%;
        height: auto;
    }
    .careers-wrapper .green-item h4{
        margin-bottom: 80px;
    }
    .careers-wrapper .accordion-wrapper{
        display: inline-block;
        width: 44%;
        color: #000;
        padding: 40px 80px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .careers-wrapper .text-content.algo-item-third.green-item{
        width: 100%;
        height: 140px;
    }
     .careers-wrapper .text-content-wrapper.top-positioned{
         width: 80%;
    }

    .careers-wrapper .accordion-wrapper .arrow-div-hover{
        background-color: #fff;
        padding: 16px 30px 6px 30px;
        width: 112px;
        bottom: 0;
        height: 50px;
        left: 90.1%;
    }
    .careers-wrapper .accordion-wrapper .arrow-div-hover img{
        width: 50px;
    }
    .title{
        padding: 40px 190px 24px 190px !important;
        border-radius: 4px;
        margin: 20px 0;
        color: #606060;
        background-color: #fff;
        height: 100px;
    }
    .accordion-content{
        padding: 20px 20px;
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        width: 390px;
        margin:22px auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: #606060;
        -webkit-box-shadow: 1px 1px 16px -4px grey;
        -moz-box-shadow: 1px 1px 16px -4px grey;
        box-shadow: 1px 1px 16px -4px grey;
    }
    .plus{
        position: relative;
    }
    .plus::before{
        content: '';
        background-image: url('../assets/images/add.svg');
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 30px;
        position: absolute;
        top: 0;
        left: -30px;
    }
    .minus{
        position: relative;
    }
    .minus::before{
        content: '';
        background-image: url("../assets/images/minus.svg");
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 30px;
        position: absolute;
        top: 0;
        left: -30px;
    }
    .changing-items{
        position: relative;
        overflow: hidden;
    }
    .changing-items img{
        position: absolute;
    }
    .changing-items img:nth-child(1){
           width: 300px;
        top: -5%;
        -webkit-transition: all 1.2s ease;
        -moz-transition: all 1.2s ease;
        -ms-transition: all 1.2s ease;
        -o-transition: all 1.2s ease;
        transition: all 1.2s ease;
       }
    .changing-items img:nth-child(2){
        width: 200px;
        top: 2%;
        -webkit-transition: all 1.6s ease;
        -moz-transition: all 1.6s ease;
        -ms-transition: all 1.6s ease;
        -o-transition: all 1.6s ease;
        transition: all 1.6s ease;
    }
    .changing-items img:nth-child(3){
        width: 240px;
        top: 16%;
        -webkit-transition: all 1.7s ease;
        -moz-transition: all 1.7s ease;
        -ms-transition: all 1.7s ease;
        -o-transition: all 1.7s ease;
        transition: all 1.7s ease;
    }
    .changing-items img:nth-child(4){
        width: 200px;
        top: 40%;
        -webkit-transition: all 1.6s ease;
        -moz-transition: all 1.6s ease;
        -ms-transition: all 1.6s ease;
        -o-transition: all 1.6s ease;
        transition: all 1.6s ease;
      }
    .changing-items img:nth-child(5){
        width: 220px;
        top: 60%;
        -webkit-transition: all 1.5s ease;
        -moz-transition: all 1.5s ease;
        -ms-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
    }
    .changing-items img:nth-child(6){
        width: 220px;
        top: 40%;
        -webkit-transition: all 1.4s ease;
        -moz-transition: all 1.4s ease;
        -ms-transition: all 1.4s ease;
        -o-transition: all 1.4s ease;
        transition: all 1.4s ease;
    }
    .changing-items img:nth-child(7){
        width: 200px;
        top: 18%;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
    .activeFirst{
        left: 0;
        top: 0!important;
    }
    .activeSecond{
        left: 45%;
        top: 10%!important;
    }
    .activeThird{
        left: 26%;
        top: 28%!important;
    }
    .activeFourth{
        left: 5%;
        top: 49%!important;
    }
    .activeFifth{
        left: 30%;
        top: 66%!important;
    }
    .activeSixth{
        left: 55%;
        top: 50%!important;
    }
    .activeSeventh{
        left: 70%;
        top:24%!important;
    }
    #careers-next-img{
        padding-top: 50px;
        -webkit-box-shadow: 1px 0 11px -3px;
        -moz-box-shadow: 1px 0 11px -3px;
        box-shadow: 1px 0 11px -3px;
    }
    @media(min-width: 992px) and (max-width: 1200px){
        .text-content h2{
            font-size: 32px;
        }
    }
</style>
