<template>
  <div>
    <div class="ui fluid mobile-home-heading">
      <h1>Services</h1>
      <vue-typer text='Algorithm Solutions Digital company. Front-end Development.' :repeat='0' :type-delay=100></vue-typer>
    </div>
    <div class="ui grid centered container">
      <div class="row wrapper-column">
        <div class="fourteen wide column services-col team-it" >
          <router-link tag="a" to="/services">
            <h2>Services</h2>
            <div class="img-item">
              <img src="../assets/images/algo-detail1.png">
            </div>
            <div class="arrow-div">
              <img src="../assets/images/right-arrow(1)(1).svg">
            </div>
          </router-link>
        </div>
      </div>
      <div class="row wrapper-column">
        <div class="fourteen wide mobile column team-item team-it" >
          <router-link tag="a" to="/team">
            <h2>Team</h2>
            <h3>Fuelled
              by passion
              & curiosity</h3>
            <div class="arrow-div">
              <img src="../assets/images/right-arrow-white.svg">
            </div>
          </router-link>
        </div>
      </div>
      <div class="row wrapper-column">
        <div class="fourteen wide column team-item-bgci team-it" >
          <router-link tag="a" to="/works">
            <h2>Works</h2>
            <h3 class="top-aligned">Museik</h3>
            <div class="arrow-div">
              <img src="../assets/images/right-arrow(1)(1).svg">
            </div>
          </router-link>
        </div>
      </div>
      <div class="row wrapper-column">
        <div class="fourteen wide column team-item team-it">
          <router-link tag="a" to="/careers">
            <h2>Careers</h2>
            <h3>Fresh Talent</h3>
            <div class="img-item">
              <img src="../assets/images/algo-detail2.png">
            </div>
            <div class="arrow-div">
              <img src="../assets/images/right-arrow-white.svg">
            </div>
          </router-link>
        </div>
      </div>
      <div class="row wrapper-column">
        <div class="fourteen wide column team-it" id="algo-v-it" >
          <router-link tag="a" to="/contact">
            <h2>Contact us</h2>
            <h3>Your are Welcome Anytime</h3>
            <div class="arrow-div">
              <img src="../assets/images/right-arrow(1)(1).svg">
            </div>
          </router-link>
        </div>
      </div>
      <div class="row wrapper-column">
        <div class="fourteen wide column eight wide computer column team-item-bgci team-item team-it" id="algo-item-mind" >
          <h2>Algorithm Solutions</h2>
          <h3 class="top-aligned " id="algo-home-mind"> Organize
            your <br>
            mind</h3>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
    import { VueTyper } from 'vue-typer'

    export default {
      name: "HomeMobile",
      components: {
          VueTyper
      }
    }
</script>

<style scoped>
  /*.vue-typer  .typed{*/
    /*color: #ffffff!important;*/
  /*}*/
  /*.vue-typer  .typing{*/
    /*background-color: #ffffff!important;*/
  /*}*/
  /*.vue-typer .complete{*/
    /*display: inline-block!important;*/
    /*background-color: #ffffff!important;*/
  /*}*/
  .mobile-home-heading{
    padding: 16px 22px 8px;
    background-color: #25ae85;
    color: white;
    margin-bottom: 20px;
    height: 100px;
  }
  .mobile-home-heading h1{
    border-left: 1px solid white;
    padding-left: 4px;
    font-size: 20px;
    font-family: arialReg;
    margin-bottom: 4px;
  }
  .mobile-home-heading p{
    display: inline-block;
    border-right: 1px solid white;
    padding-right: 4px;
    padding-left: 8px;
    font-size: 14px;
    font-family: arialReg;
  }
  .services-col{
    -webkit-box-shadow:1px 1px 13px -4px grey;
    -moz-box-shadow: 1px 1px 13px -4px grey;
    box-shadow:1px 1px 13px -4px grey;
  }
  .wrapper-column h2{
    margin-top: 10px;
    color: #5d5a5a;
    font-size: 18px;
    border-left:1px solid #5d5a5a;
    padding-left:2px;
  }
  .team-item h2{
    color: #fff;
    border-left:1px solid #fff;
  }
  .team-item h3{
    color: #fff;
    font-size: 30px;
    font-family: "Arial Black";
    line-height:38px;
  }
  .team-item{
    position:relative;
    background-color:  #25ae85;
    box-shadow: inset 0 2px 4px grey;
  }
  .arrow-div{
    width:16%;
  }
  .team-it{
    height:250px;
    position: relative;
  }
  .arrow-div{
    position: absolute;
    bottom: 5%;
  }
  h3{
    font-size: 22px;
    font-family: "Arial Black";

  }
  .team-item-bgci{
    background-image: url('../assets/images/algohomeservices1.jpg');
    background-position:left;
    background-repeat: no-repeat;
    box-shadow: inset 0 2px 4px grey;
    background-size: 461px;
  }
  .team-item-bgci h3,h2{
    color: #5d5a5a;
    border-color: #5d5a5a;
  }
  .top-aligned {
    margin-top: 100px;
    margin-bottom: 40%;
  }
  #algo-v-it{
    box-shadow: inset 0 2px 4px grey;
    background-color: #fff;
  }
   #algo-v-it  h3,h2{
    color: #5d5a5a;
     font-family: "Arial Black";
  }
   #algo-v-it h3{
     margin-top: 30px;
     font-size: 36px;
     margin-bottom: 40%;
     line-height: 38px;
   }
  #algo-item-mind{
    background-image: url('../assets/images/klavish.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #algo-item-mind h3{
    color: #fff;
  }
  #algo-home-mind{
    font-size: 42px;
    line-height:38px;
    margin-top:60px;
  }
  @media(max-width:320px){
    .index-page-sizing{
      height:auto;
    }
    .wrapper-column{
      padding:0!important;
    }
  }
  @media (min-width:320.98px) and (max-width:500px){
    .index-page-sizing{
      height:auto;
    }
    .wrapper-column{
      padding:0!important;
    }
    .img-item{
      text-align: center;
    }
  }
  @media(min-width:500.98px) and (max-width:700px){
    .row.wrapper-column{
      width:50%!important;
    }
    .ui.grid .row.wrapper-column .thirteen.wide.team-it{
      width:100%!important;
    }
    .ui.grid .row.wrapper-column{
      width:50%!important;
    }
    .team-it{
      height:unset;
    }
    .img-item{
      text-align: center;
      margin-bottom: 40px;
    }
    .img-item img{
      width:100%;
    }
  }
  @media (min-width:700.98px) and (max-width:768px) {
    .index-page-sizing{
      height:auto;
    }
    .row.wrapper-column.team-it{
      width:100%;
    }
    .ui.grid .row.wrapper-column{
      width:50%!important;
    }
    .team-it{
      height:unset;
    }
    .img-item{
      margin-bottom: 40px;
      text-align: center;
    }
    .img-item img{
      width:100%;
    }
  }
  @media (min-width:768.98px) and (max-width:992px){
    .index-page-sizing{
      height:auto;
    }
    .row.wrapper-column.team-it{
      width:100%;
    }
    .ui.grid .row.wrapper-column{
      width:50%!important;
    }
    .team-it{
      height:unset;
    }
    .img-item{
      margin-bottom: 40px;
      text-align: center;
    }
    .img-item img{
      width:100%;
    }
  }
  @media (min-width:992.98px) and (max-width:1200px){
    .row.wrapper-column.team-it{
      width:100%;
    }
    .ui.grid .row.wrapper-column{
      width:50%!important;
    }

  }
  @media (min-width:1200.98px){

  }
</style>
