<template>
  <div class="ui grid description-container">
    <div class="five wide column no-padding">
      <div class="main-description-container">
        <div class="main-title">
          <h1 :class="{ 'positioning': activePosition }">Services</h1>
        </div>
        <!--logo going down part-->
        <div id="service-name" class="service-title">
          <h2 :class="{ 'positioning-left': activePosition }">
            Services
            <span class="service-subtitle">About</span>
          </h2>
        </div>
        <!--end of logo going down part-->
        <div class="changing-info-box">
          <div class="changing-items">
            <p :class="{ 'positioning': activePosition }">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur .
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    export default {
      name: "HomeDescription",
      data(){
        return{
          activePosition: false
        }
      },
      created(){
        setTimeout(() => {
          this.activePosition = true
        },1600)
      }
    }
</script>

<style scoped>
  .description-container{
    position: relative;
    height: calc(100% - 80px);
    overflow: hidden;
  }
  .main-description-container{
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }
  .main-description-container h1{
    font-size: 5vw;
    margin: 0;
    line-height: 1;
    color: #f5f5f5;
    text-shadow: 1px 2px 2px #e5e5e6;
  }
  .main-description-container h2{
    color: #25ae85;
  }
  .main-description-container h2>span{
    display: block;
  }
  .service-title{
    margin-left: 80px;
    height: 60px;
    overflow: hidden;
  }
  .service-title h2{
    height: 100%;
    font-size: 2em;
    line-height: 1.2;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform 0.8s ease;
    -moz-transition: transform 0.8s ease;
    -ms-transition: transform 0.8s ease;
    -o-transition: transform 0.8s ease;
    transition: transform 0.8s ease;
  }
  .service-title .service-subtitle{
    font-size: 0.6em;
  }
  .changing-items{
    overflow: hidden;
  }
  .changing-items p{
    margin-top: 50px;
    padding-right: 25%;
    -webkit-transform: translateY(-125%);
    -moz-transform: translateY(-125%);
    -ms-transform: translateY(-125%);
    -o-transform: translateY(-125%);
    transform: translateY(-125%);
    -webkit-transition: transform 0.8s ease;
    -moz-transition: transform 0.8s ease;
    -ms-transition: transform 0.8s ease;
    -o-transition: transform 0.8s ease;
    transition: transform 0.8s ease;
  }
  .main-title{
    overflow: hidden;
  }
  .main-title h1{
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: transform 0.8s ease;
    -moz-transition: transform 0.8s ease;
    -ms-transition: transform 0.8s ease;
    -o-transition: transform 0.8s ease;
    transition: transform 0.8s ease;
  }
  .positioning{
    -webkit-transform: translateY(0)!important;
    -moz-transform: translateY(0)!important;
    -ms-transform: translateY(0)!important;
    -o-transform: translateY(0)!important;
    transform: translateY(0)!important;
  }
  .positioning-left{
    -webkit-transform: translateX(0)!important;
    -moz-transform: translateX(0)!important;
    -ms-transform: translateX(0)!important;
    -o-transform: translateX(0)!important;
    transform: translateX(0)!important;
  }
</style>
