<template>
    <div class="loading-container">
      <div class="loading-content">
        <h1>Loading.....</h1>
      </div>
    </div>
</template>

<script>
    export default {
        name: "Loading"
    }
</script>

<style scoped>
  .loading-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 15;
  }
  .loading-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .loading-content h1{
    font-size: 16vw;
    font-weight: bold;
    color: #000;
  }
</style>
