<template>
  <div class="main-circling-container">
    <div class="logo-container">
      <img class="ui fluid image" :src="symbol" alt="Main logo">
    </div>
    <div class="triangle-container">
      <div class="rotate-triangle">
        <transition-group name="transition-g" tag="div"
          v-on:after-enter="showOpening"
        >
          <div class="clip" v-for="(degree, index) in degrees" v-bind:key="'clip-'+index++" :ref="'clip'" :deg="degree" :turn="turn[index-1]" @click="doRotate" v-if="clipDefinition" :index="index">
            <div class="triangle"></div>
          </div>
          <div class="triangle-desc title-1 clip-title-1" :ref="'desc'" v-bind:key="'desc-1'" v-if="clipDefinition">
            <img :src="smart" alt="Triangle description"/>
            <span>
              Mobile<br> applications
            </span>
          </div>
          <div class="triangle-desc title-2 clip-title-6" :ref="'desc'"  v-bind:key="'desc-2'" v-if="clipDefinition">
            <img :src="devices" alt="Triangle description"/>
            <span>
              UI/UX<br> Design
            </span>
          </div>
          <div class="triangle-desc title-3 clip-title-5" :ref="'desc'" v-bind:key="'desc-3'" v-if="clipDefinition">
            <img :src="online" alt="Triangle description"/>
            <span>
              Ecommerce<br> platforms
            </span>
          </div>
          <div class="triangle-desc title-4 clip-title-4" :ref="'desc'" v-bind:key="'desc-4'" v-if="clipDefinition">
            <img :src="cloud" alt="Triangle description"/>
            <span>
              CRM/ERP<br> HRM
            </span>
          </div>
          <div class="triangle-desc title-5 clip-title-3" :ref="'desc'" v-bind:key="'desc-5'" v-if="clipDefinition">
            <img :src="singlePage" alt="Triangle description"/>
            <span>
              Single page<br> application
            </span>
          </div>
          <div class="triangle-desc title-6 clip-title-2" :ref="'desc'" v-bind:key="'desc-6'" v-if="clipDefinition">
            <img :src="service" alt="Triangle description"/>
            <span>
              About<br> Service
            </span>
          </div>
        </transition-group>
      </div>
    </div>
    <OpeningAnimation :category="selectedClass"></OpeningAnimation>
  </div>
</template>

<script>
    import symbol from "../assets/uploads/AlgorithmLogo.png";
    import smart from "../assets/uploads/icons/smart.png";
    import devices from "../assets/uploads/icons/symbols.png";
    import online from "../assets/uploads/icons/online.png";
    import cloud from "../assets/uploads/icons/cloud.png";
    import singlePage from "../assets/uploads/icons/ecommerce.png";
    import service from "../assets/uploads/icons/service.png";
    import OpeningAnimation from "@/components/HomeAnimationOpening";

    export default {
        name: "MainAnimation",
        components: {
          OpeningAnimation
        },
        data: function () {
          return {
            symbol: symbol,
            smart: smart,
            devices: devices,
            online: online,
            cloud: cloud,
            singlePage: singlePage,
            service: service,
            clipDefinition: false,
            finishedOpening: false,
            degrees: [60, 0, 300, 240, 180, 120],
            turn: [1, 0, 5, 4, 3, 2],
            rotateDeg: 0,
            mainRotationContainer: 0,
            selectedClass: null
          }
        },
        methods: {
          doRotate: function(el){
              debugger;
            // call index func
            this.indexing(parseInt(el.currentTarget.attributes.deg.value), el);
            // pass to rotate func
            this.rotateServices(parseInt(el.currentTarget.attributes.deg.value), el);
          },
          showOpening: function (el, done) {
            if(!this.finishedOpening){
              this.finishedOpening = true;
              this.rotateServices(this.rotateDeg);
              this.indexing(this.rotateDeg);
            }
          },
          rotateServices: function (deg, el) {
            // to do rotate with deg
            this.$el.querySelector(".rotate-triangle").style.transform =  "rotate("+this.mainRotationContainer+"deg)";
            if(el !== undefined){
              this.openLeftDescription(el.currentTarget.getAttribute("index"), el);
            }
          },
          indexing: function(deg, el){
            if(el === undefined){
              // to do indexing
              this.mainRotationContainer = parseInt(deg + this.mainRotationContainer);
            }else{
              this.$refs.clip.forEach(function(allClips) {
                let value = parseInt(allClips.getAttribute("deg"));
                let checkValue = parseInt(allClips.getAttribute("deg"));
                let oval = 360;
                for(let i=0; i < parseInt(el.currentTarget.getAttribute("turn")); i++){
                  if (checkValue == 0) {
                    oval = oval - 60;
                    value = oval;
                    allClips.setAttribute("deg", value);
                  }else if(checkValue <= 300){
                    value = value - 60;
                    checkValue = checkValue - 60;
                    let newDeg = value;
                    allClips.setAttribute("deg", newDeg);
                  }
                }
              });
              this.$refs.clip.forEach(function(allClips) {
                let newTurn = parseInt(allClips.getAttribute("deg")) / 60;
                allClips.setAttribute("turn", newTurn)
              });
              this.mainRotationContainer = parseInt(deg + this.mainRotationContainer);
              this.$el.querySelector(".clip");
              // el.currentTarget.attributes.deg.value = 0;
            }
          },
          openLeftDescription: function (index, el) {
            let allDescs = Array.from(document.getElementsByClassName('triangle-desc'));
            this.$refs.clip.forEach(function(clip) {
              clip.classList.remove('fade');
            });
            allDescs.forEach(function(desc) {
              desc.classList.remove('fade');
            });
            setTimeout(() => {
              this.$el.querySelector(`.clip-title-${index}`).classList.add('fade');
            },0);
            el.currentTarget.classList.add('fade');
            this.selectedClass = parseInt(index);
          }
        },
        mounted() {
          setTimeout(() => {
            this.clipDefinition = true;
          }, 2000)
        }
    }
</script>

<style scoped>
  /*Circling animation*/
  .main-circling-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .logo-container{
    z-index: 4;
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 0 0 4px #88888852;
  }
  .logo-container{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .logo-container .ui.fluid.image{
    width: 100%;
    height: 100%;
    padding: 25%;
  }
  .triangle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 504px;
    height: 555.8px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .triangle-container .clip {
    overflow: hidden;
    position: absolute;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    border: 10px solid transparent;
    z-index: 6;
    -webkit-transition: top 1s ease, right 1s ease, bottom 1s ease, left 1s ease, opacity 1s ease;
    -moz-transition: top 1s ease, right 1s ease, bottom 1s ease, left 1s ease, opacity 1s ease;
    -ms-transition: top 1s ease, right 1s ease, bottom 1s ease, left 1s ease, opacity 1s ease;
    -o-transition: top 1s ease, right 1s ease, bottom 1s ease, left 1s ease, opacity 1s ease;
    transition: top 1s ease, right 1s ease, bottom 1s ease, left 1s ease, opacity 1s ease;
  }
  .triangle-container  .clip:first-child {
    transform: rotate(60deg) skewY(30deg);
    -webkit-transform: rotate(60deg) skewY(30deg);
    -moz-transform: rotate(60deg) skewY(30deg);
  }
  .triangle-container  .clip:nth-child(2) {
    transform: rotate(120deg) skewY(30deg);
    -webkit-transform: rotate(120deg) skewY(30deg);
    -moz-transform: rotate(120deg) skewY(30deg);
  }
  .triangle-container  .clip:nth-child(3) {
    transform: rotate(180deg) skewY(30deg);
    -webkit-transform: rotate(180deg) skewY(30deg);
    -moz-transform: rotate(180deg) skewY(30deg);
  }
  .triangle-container  .clip:nth-child(4) {
    transform: rotate(240deg) skewY(30deg);
    -webkit-transform: rotate(240deg) skewY(30deg);
    -moz-transform: rotate(240deg) skewY(30deg);
  }
  .triangle-container  .clip:nth-child(5) {
    transform: rotate(300deg) skewY(30deg);
    -webkit-transform: rotate(300deg) skewY(30deg);
    -moz-transform: rotate(300deg) skewY(30deg);
  }
  .triangle-container  .clip:nth-child(6) {
    transform: rotate(360deg) skewY(30deg);
    -webkit-transform: rotate(360deg) skewY(30deg);
    -moz-transform: rotate(360deg) skewY(30deg);
  }
  .triangle {
    width: 200%;
    height: 200%;
    transform: skewY(-42deg) skewX(-20deg) rotate(-15.5deg);
    -webkit-transform: skewY(-42deg) skewX(-20deg) rotate(-15.5deg);
    -moz-transform: skewY(-42deg) skewX(-20deg) rotate(-15.5deg);
    background: #25ae85;
  }
  .triangle:hover {
    background:#009cff;
  }
  .rotate-triangle{
    position: relative;
    width: 504px;
    height: 555.8px;
    z-index: 1;
    -webkit-transform: rotate(-300deg);
    -moz-transform: rotate(-300deg);
    -ms-transform: rotate(-300deg);
    -o-transform: rotate(-300deg);
    transform: rotate(-300deg);
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
  }
  .triangle-box{
    width: 200%;
    height: 200%;
    transform: skewY(-42deg) skewX(-20deg) rotate(-15.5deg);
    -webkit-transform: skewY(-42deg) skewX(-20deg) rotate(-15.5deg);
    -moz-transform: skewY(-42deg) skewX(-20deg) rotate(-15.5deg);
    background: #25ae85;
  }
  .triangle-desc{
    position: absolute;
    z-index: 9;
    color: #fff;
    text-align: center;
    -webkit-transition: top 0.8s ease, right 0.8s ease, bottom 0.8s ease, left 0.8s ease, opacity 0.8s ease;
    transition: top 0.8s ease, right 0.8s ease, bottom 0.8s ease, left 0.8s ease, opacity 0.8s ease;
  }
  .triangle-desc img{
    display: block;
    margin: auto;
    height: auto;
    width: auto;
  }
  .title-1{
    top: 95px;
    right: 130px;
    -webkit-transform: rotate(213deg);
    -moz-transform: rotate(213deg);
    -ms-transform: rotate(213deg);
    -o-transform: rotate(213deg);
    transform: rotate(213deg);
  }
  .title-2{
    top: 90px;
    left: 140px;
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  .title-3{
    top: 245px;
    left: 50px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .title-4{
    bottom: 95px;
    left: 135px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .title-5{
    bottom: 95px;
    right: 130px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  .title-6{
    bottom: 240px;
    right: 60px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .transition-g-enter.clip:nth-child(1){
    top: -50%;
    right: 0;
  }
  .transition-g-enter-to.clip:nth-child(1){
    top: 0;
    right: 50%;
  }
  .transition-g-enter.clip:nth-child(2){
    right: -50%;
  }
  .transition-g-enter-to.clip:nth-child(2){
    right: 50%;
  }
  .transition-g-enter.clip:nth-child(3){
    bottom: -50%;
    right: -50%;
  }
  .transition-g-enter-to.clip:nth-child(3){
    right: 50%;
    bottom: 50%;
  }
  .transition-g-enter.clip:nth-child(4){
     bottom: -50%;
     left: -50%;
   }
  .transition-g-enter-to.clip:nth-child(4){
    left: 0;
    bottom: 50%;
  }
  .transition-g-enter.clip:nth-child(5){
    left: -50%;
  }
  .transition-g-enter-to.clip:nth-child(5){
    left: 0;
  }
  .transition-g-enter.clip:nth-child(6){
    left: -50%;
    top: -50%;
  }
  .transition-g-enter-to.clip:nth-child(6){
    left: 0;
    top: 0;
  }
  .transition-g-enter.triangle-desc.title-1 {
    top: -50%;
    right: -130px;
  }
  .transition-g-enter-to.triangle-desc.title-1{
    top: 95px;
    right: 130px;
  }
  .transition-g-enter.triangle-desc.title-2{
    top: -50%;
    left: -140px;
  }
  .transition-g-enter-to.triangle-desc.title-2{
    top: 90px;
    left: 140px;
  }
  .transition-g-enter.triangle-desc.title-3{
    top: 245px;
    left: -50%;
  }
  .transition-g-enter-to.triangle-desc.title-3{
    top: 245px;
    left: 50px;
  }
  .transition-g-enter.triangle-desc.title-4{
    bottom: -100%;
    left: -50%;
  }
  .transition-g-enter-to.triangle-desc.title-4{
    bottom: 95px;
    left: 135px;
  }
  .transition-g-enter.triangle-desc.title-5{
    bottom: -100%;
    right: -50%;
  }
  .transition-g-enter-to.triangle-desc.title-5{
    bottom: 95px;
    right: 130px;
  }
  .transition-g-enter.triangle-desc.title-6{
    bottom: 240px;
    right: -80%;
  }
  .transition-g-enter-to.triangle-desc.title-6{
    bottom: 240px;
    right: 60px;
  }
  .fade{
    opacity: 0;
    z-index: 0!important;
    pointer-events:none;
  }
</style>
