<template>
  <yandex-map
    :coords="[40.210173, 44.521488]"
    zoom="17"
    style="width: 100%; height: 400px;"
    :placemarks="placemarks"
    :scroll-zoom="true"
    map-type="map"
  >
    <ymap-marker
      :marker-id="1"
      marker-type="placemark"
      :coords="[40.210173, 44.521488]"
      hint-content="Hint content 1"
      :balloon="{header: 'header', body: 'body', footer: 'footer'}"
      :icon="{color: 'blackDotIcon', glyph: 'islands'}"
      cluster-name="1"
    ></ymap-marker>

  </yandex-map>
</template>
<script>
  import { yandexMap, ymapMarker } from 'vue-yandex-maps'
  export default {
    name: 'Map',
    components: {
      yandexMap,
      ymapMarker
    },
    data() {
      return {
        places: null,
        latLon: [],
        placemarks: [
          {
            coords: [54.8, 39.8],
            properties: {}, // define properties here
            options: {}, // define options here
            clusterName: '1',
            balloonTemplate: '<div>"Your custom template"</div>',
            callbacks: { click: function() {} }
          }
        ]
      }
    }
  }
</script>

<style scoped>
  .ymaps-2-1-68-controls__toolbar_left{
    display: none;
  }
</style>
