<template>
   <nav>
     <div class="ui grid container" style="border:1px solid red;">
       <div class="m-main-logo">
         <img src="../assets/uploads/logo-mobile.png" alt="main logo">
       </div>
       <div>
         <div class="right menu hum-container">
           <div class="hum-content">
             <button class="hum-btn">
               <svg class="ham hamRotate ham4" viewBox="0 0 100 100" height="100%" onclick="this.classList.toggle('active')">
                 <path
                   class="line top"
                   d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
                 <path
                   class="line middle"
                   d="m 70,50 h -40" />
                 <path
                   class="line bottom"
                   d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
               </svg>
             </button>
           </div>
         </div>
       </div>
     </div>
   </nav>
</template>

<script>
    export default {
        name: "MobileNavigation",
    }
</script>

<style scoped>
  .hum-container{
    display: none!important;
  }
  .hum-btn{
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 0;
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
  .hum-content{
    position: relative;
    height: 100%;
    width: 100%;
  }
  @media (min-width:992px){
    nav{
      display:none;
    }
  }
  @media only screen and (max-width:576px){
    .mobile-menu{
      display: block!important;
    }
    .desktop-menu{
      display: none!important;
    }
    .ui.secondary.menu{
      margin: 0;
    }
    .hum-container{
      display: block!important;
    }
    .ui.menu:not(.vertical) .right.menu-items{
      display: none;
    }
    .menu-items{
      position: absolute;
      top: 100%;
      width: 100%;
      background: #fff;
    }
    .ui.secondary.menu .right .item{
      margin: 25px 5px;
    }
    .ui.secondary.menu .right .item:last-child{
      padding: 10px 25px;
    }

  }
</style>
