<template>
    <!--Navbar -->
    <div>
      <transition appear v-on:appear="animationLogo">
             <span class="logo-symbol" :attr="movePosition">
               <img class="ui fluid image" :src="symbol">
             </span>
      </transition>
      <nav class="ui secondary menu desktop-menu nav-for-desktop" :class="{pined: isMenuOpen, unpined: !isMenuOpen}">
        <a href="/" class="item logo">
          <span class="logo-title">
          <img class="ui fluid image" :src="logo">
        </span>
        </a>
        <div class="right menu" >
          <router-link tag="a" to="/" v-bind:class="{ 'active-item': checkActive('Home') }" class="ui item">
            Home
          </router-link>
          <router-link tag="a" to="/team" v-bind:class="{ 'active-item': checkActive('Team') }" class="ui item">
            Team
          </router-link>
          <router-link tag="a" to="/works" v-bind:class="{ 'active-item': checkActive('Works') }" class="ui item">
            Works
          </router-link>
          <router-link tag="a" to="/careers" v-bind:class="{ 'active-item': checkActive('Careers') }" class="ui item">
            Careers
          </router-link>
          <router-link tag="a" to="/contact" v-bind:class="{ 'active-item': checkActive('Contact') }" class="ui item">
            Contact us
          </router-link>
        </div>
      </nav>
      <nav class="ui secondary menu mobile-menu grid container" id="mobile-menu">
        <a href="/" class="item logo">
          <span class="logo-title">
            <img :src="mobileLogo">
          </span>
        </a>
        <div class="right menu hum-container" @click="hideShow">
          <div class="hum-content">
            <button class="hum-btn" >
              <svg class="ham hamRotate ham4" viewBox="0 0 100 100" height="100%" onclick="this.classList.toggle('active')">
                <path
                  class="line top"
                  d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
                <path
                  class="line middle"
                  d="m 70,50 h -40" />
                <path
                  class="line bottom"
                  d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
              </svg>
            </button>
          </div>
        </div>
        <div class="right menu menu-items" :class="{'menu-opened': close}">
          <div class="hhh">
            <router-link tag="a" to="/" v-bind:class="{ 'active-item': checkActive('Home') }" class="ui item">
              Home
            </router-link>
          </div>
         <div class="hhh">
           <router-link tag="a" to="/team" v-bind:class="{ 'active-item': checkActive('Team') }" class="ui item">
             Team
           </router-link>
         </div>
      <div class="hhh">
        <router-link tag="a" to="/works" v-bind:class="{ 'active-item': checkActive('Works') }" class="ui item">
          Works
        </router-link>
      </div>
          <div class="hhh">
            <router-link tag="a" to="/careers" v-bind:class="{ 'active-item': checkActive('Careers') }" class="ui item">
              Careers
            </router-link>
          </div>
        <div>
          <router-link tag="a" to="/contact" v-bind:class="{ 'active-item': checkActive('Contact') }" class="ui item">
            Contact us
          </router-link>
        </div>
          <div class="social_media">
            <i class="linkedin icon"></i>
            <i class="instagram icon"></i>
            <i class="facebook icon"></i>
            <i class="twitter icon"></i>
          </div>
        </div>
      </nav>
    </div>
</template>

<script>
    import symbol from "../assets/uploads/AlgorithmLogo.png"
    import logo from "../assets/uploads/AlgorithmLogoTitle.png"
    import mobileLogo from "../assets/uploads/mobile-logo.png"


    export default {
      name: "Navigation",
      data() {
        return {
          symbol: symbol,
          logo: logo,
          movePosition: "",
          mobileLogo: mobileLogo,
          close: false,
          isMenuOpen:false,
          scroll: 0
        }
      },
      methods: {
        hideShow: function(){
          setTimeout(() => {
            this.close=!this.close;
          },400);
        },
        checkPosition: function(){
          let finalPosition = document.getElementById("service-name");
          if(window.innerWidth<576){
            return false;
          }else{
            if(finalPosition != null){
              const rect = finalPosition.getBoundingClientRect();
              return rect.top;
              console.log(rect.top);
            }else{
              return false;
            }
          }
        },
        animationLogo: function(el, done) {
          this.$el.querySelector(".logo-symbol").style.top = 0;
          done();
        },
        checkActive : function(pageName){
          return this.$route.name === pageName
        },
          handleScroll (){
            if(scroll > window.scrollY)
            {
                this.isMenuOpen = true;
            }
            else if(window.scrollY != 0){
                this.isMenuOpen = false
            }else if(window.scrollY == 0){
                this.isMenuOpen = true
            }
              scroll = window.scrollY;
          }
      },
      created() {
        window.addEventListener('resize', this.checkPosition);

      },
      mounted: function () {
        this.$nextTick(function () {
          this.movePosition = this.checkPosition();
          this.isMenuOpen = true;
        });
        if(window.matchMedia('(max-width: 768px)').matches){
            this.$el.querySelector(".logo-symbol").style.display = "none";
        };

      },
      beforeUpdate(){
          window.addEventListener('scroll', this.handleScroll);
      },
      updated: function () {
        setTimeout(() => {
          if(this.movePosition){
            this.$el.querySelector(".logo-symbol").style.top = this.movePosition - 66 + "px";
            this.$el.querySelector(".logo-title").style.marginLeft = 0;
          }else{
          }
        },1000);
      },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>
<style scoped>
  /*<!--menu part-->*/
  .nav-for-desktop{
    position: fixed;
    background-color: pink!important;
    transition: transform 0.2s ease-in-out;
  }
  .pined{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .unpined{
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  /*Navbar styles*/
  .ui.secondary.menu {
    z-index: 9999;
    background-color: #fff;
  }
  .ui.secondary.menu .logo.item{
    margin: 0;
    padding-left: 0;
    height: 80px;
    z-index: 99;
  }
  .logo-symbol{
    position: absolute;
    width: 55%;
    height: 74px;
    z-index: 999999;
    padding: 10px;
    -webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -ms-transition: top 1s ease;
    -o-transition: top 1s ease;
    transition: top 1s ease;
  }
  .logo-title{
    height: 40px;
    margin: 0 10px 0 80px;
    -webkit-transition: margin-left 1.2s ease;
    -moz-transition: margin-left 1.2s ease;
    -ms-transition: margin-left 1.2s ease;
    -o-transition: margin-left 1.2s ease;
    transition: margin-left 1.2s ease;
  }
  .logo-symbol .ui.fluid.image, .logo-title .ui.fluid.image{
    height: 100%;
    width: auto;
    object-fit: contain;
  }
  .ui.secondary.menu a.logo:hover{
    background: none;
    color: unset;
  }
  .ui.secondary.menu .right .item{
    font-weight: bold;
    font-size: 16px;
    padding: 0 25px;
    color: #5d5a5a;
  }
  .ui.secondary.menu .right .item{
    margin: 15px 5px;
  }
  .ui.secondary.menu .right .item:last-child{
    padding: 0 25px;
  }
  .ui.secondary.menu .right .item:last-child{
    font-weight: bold;
    font-size: 16px;
    padding: 0 0 0 30px;
    color: #5d5a5a;
  }
  .ui.secondary.menu .right .item:last-child::before{
      left: 22px!important;
  }
  .ui.secondary.menu .right .item.active-item{
    color: #25ae85;
  }
  .ui.secondary.menu .item:before{
    display: block!important;
  }
  .ui.secondary.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    left: 16px;
    height: 0;
    width: 2px;
    background: #25ae85;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .ui.menu .item:hover::before{
    height: 100%;
  }
  .ui.secondary.menu .item.active-item:before{
    content: "";
    width: 2px;
    height: 100%;
    left: 16px!important;
    background: #25ae85;
  }
  .ui.secondary.menu .right .item:hover{
    background: transparent;
    color: #25ae85;
  }
  .ui.secondary.menu .item.logo:before{
    content: "";
    width: 0;
    height: 0;
    left: 0!important;
    background: transparent;
  }
  .hum-container{
    display: none!important;
  }
  .hum-btn{
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 0;
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
  .hum-content{
    position: relative;
    height: 100%;
    width: 100%;
  }
  /*.mobile-menu{*/
    /*display: none!important;*/
  /*}*/
  #mobile-menu{
    position: relative;
  }
  .newClass{
      position: fixed!important;
      background: white!important;
      width: 1138px;
    animation:slowTransformation 0.6s ease;
  }
  .classLogo{
    z-index: 1;
    opacity: 0;
  }
  .classLogotop{
    top: 200px!important;
  }
  @keyframes slowTransformation {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .ui.secondary.menu.mobile-menu.grid.container > .item.logo{
    padding-left: 12px;
    display: inline-block;
    display: flex;
  }
  .ui.secondary.menu.mobile-menu.grid.container{
    z-index:4;
    box-shadow: 2px -3px 5px 2px grey;
    display: flex;
    align-items: center;
    height:6vh;
  }
  .ui.secondary.mobile-menu .logo.item{
    height: 100%;
  }
  .mobile-menu .logo-title{
    margin-left:0;
  }
  .mobile-menu .logo-title img{
    padding: 5px 0;
  }
  /*media queries*/
  .mobile-menu .right.menu.menu-items{
    display: block;
    text-align: center;
    -webkit-box-shadow:inset -1px 1px 9px -4px;
    -moz-box-shadow: inset -1px 1px 9px -4px;
    box-shadow: inset -1px 1px 9px -4px;
    z-index: 999;
  }
  .hhh{
    text-align: center;
  }
  .mobile-menu > .right.menu a{
    display: inline-block;
  }
  .menu-opened{
    top:100%!important;
  }
  .social_media{
    margin-bottom: 100px;
    margin-top: 50px;
  }
  .social_media i {
    margin-left:12px;
    font-size: 18px;
  }
  .right.menu.hum-container{
    width: auto;
    height: 100%;
    margin-left: auto;
    padding-right: 0;
  }
  .ui.secondary.mobile-menu .right .item:last-child{
    padding: 0;
  }
  .ui.secondary.mobile-menu .item.active-item:before{
    left: -10px!important;
  }
  @media only screen and (max-width:576px){
    .ui.secondary.menu .item:before{
      display: none!important;
    }
    .mobile-menu{
      display: block;
    }
    .desktop-menu{
      display: none!important;
    }
    .ui.secondary.menu{
      margin: 0;
    }
    .hum-container{
      display: inline-block!important;
      width:100px;
    }
    /*.ui.menu:not(.vertical) .right.menu-items{*/
      /*display: none;*/
    /*}*/
    .menu-items{
      position: absolute;
      top: 100%;
      width: 100%;
      background: #fff;
      transition: all 0.5s ease-in;
    }
  }
  @media (min-width:768px) and (max-width:992px){
    .ui.secondary.menu.mobile-menu.grid.container{
      -webkit-box-shadow: unset!important;
      -moz-box-shadow: unset!important;
      box-shadow:  unset!important;
    }
    .ui.secondary.menu .item:before{
      display: none!important;
    }
  }
  @media (max-width:992px) {
    .nav-for-desktop{
      display: none;
    }
    .mobile-menu{
      display: block;
    }
    .desktop-menu{
      display: none!important;
    }
    .ui.secondary.menu{
      margin: 0;
    }
    .hum-container{
      display: inline-block!important;
      width:100px;
    }
    /*.ui.menu:not(.vertical) .right.menu-items{*/
      /*display: none;*/
    /*}*/
    .menu-items{
      position: absolute;
      top: -1000%;
      width: 100%;
      background: #fff;
    }

  }

  @media(min-width:992.98px){
    .mobile-menu{
      display: none!important;
    }
  }
</style>
