<template>
    <div>
      <div class="sayings-paragraph_container">
        <p>
          Our greatest desire is to build tools that bring real benefits to the user.
        </p>
      </div>
      <div class="sayings_text">
        <p>
          Vahag Hovhannisyan
          <span>CEO</span>
          <span class="sayings_hr"></span>
        </p>
        

      </div>
    </div>
</template>

<script>
    export default {
        name: "TeamSayings"
    }
</script>

<style scoped>
   p{
     font-family: "Arial Black";
     line-height: 32px;
     color: #5d5a5a;
     width: 100%;
     font-size: 25px;;
     margin: 0 auto;

   }

  .sayings_text p{
    position: relative;
    padding-left:4px;
    font-size: 12px;
    margin-top: 21px;
  }
  .sayings-paragraph_container{
    padding-top:0;
  }
  span{
    display: block;
    margin-top: -16px;
  }
  .sayings_hr{
    width: 2px;
    height: 46px;
    position: absolute;
    background: #25ae85;
    top: 39%;
    left: -1%;
  }
   @media(max-width:576px){

   }
   @media (min-width:576.98px) and (max-width:768px){

   }
   @media (min-width:768.98px) and (max-width:992px){
      .sayings-paragraph_container{
        margin-top:30px;
      }
     p{
       width: 282px;
       line-height: 38px;
       font-size: 34px;
     }
   }
   @media (min-width:992.98px) and (max-width:1200px){
     p{
       width: 282px;
       line-height: 38px;
       font-size: 34px;
     }
   }
   @media (min-width:1200.98px){
     .sayings-paragraph_container{
       margin-top: 20px;
     }

     p{
       width: 282px;
       font-size: 34px;
       line-height: 38px;
     }
   }
</style>
