<template>
    <div>
      <div class="ph_text">
        <h3>THE PHILOSOPHY</h3>
        <span></span>
        <p>
          The work is as important as the pleasure we get from doing it. Such an authentic
          corporate culture isn’t imposed, and can’t just be invented. It appears spontaneously when
          people who love creating, learning and growing get together, forming a team with ties
          that transcend the workplace
        </p>
      </div>

    </div>
</template>

<script>
    export default {
        name: "TeamPhilosophy"
    }
</script>

<style scoped>
   span{
     width:2px;
     display:none;
     height: 34px;
     background-color: #25ae85;
   }
  h3{

    color: #5d5a5a;
    font-size: 16px;
    font-family: "Arial Black";
  }
  p{
    font-size: 14px;
    color: #5d5a5a;
    margin-top: 18px;
  }
  .ph_text{
    padding-top:15px;
  }
  @media(min-width:500px) and (max-width:700px){
    .ph_text{
      padding-top:0;
    }
  }
   @media(max-width:576px){
      h3{
        border-left: 1px solid #25ae85;
        padding-left: 4px;
      }
     p{
       font-size: 14px;
     }
   }
   @media (min-width:576.98px) and (max-width:768px){
     h3{
       border-left: 1px solid #25ae85;
       padding-left: 4px;
     }
     p{
       font-size: 18px;
     }
   }
   @media (min-width:768.98px) and (max-width:992px){
     h3{
       border-left: 1px solid #25ae85;
       padding-left: 4px;
     }
     p{
       font-size:20px;
       width: 310px;
     }
     h3{
       font-size: 24px;
     }
   }
   @media (min-width:992.98px) and (max-width:1200px){
     h3{
       font-size: 30px;
     }
     span{
       display:block;
     }
     p{
       font-size: 14px;
     }
   }
   @media (min-width:1200.98px){
     p{
       font-size: 18px;
     }
     h3{
       font-size: 30px;
     }
     span{
       display:block;
     }
   }
</style>
