<template>
    <div>
      <div class="ui card team_card">
        <a class="image" href="#">
          <img src="../assets/images/staff-John.jpg">
        </a>
        <div class="content">
          <div class="meta staff_text-container">
           <h4 class="staff_name">John Malkovich</h4>
            <span class="staff_hr"></span>
            <h4 class="staff_title">UI/UX <br/> Designer</h4>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "TeamStaff"
    }
</script>

<style scoped>
    .staff_name{
      display: inline-block;
    }
    .staff_title{
      display: inline-block;
    }
    .ui.card{
      width:100%;
    }
  .staff_hr{
    width: 2px;
    height: 60px;
    margin-left: 48%;
    background-color: #25ae85;
    display: inline-block;
  }
  .staff_text-container{
    position: relative;
  }
    .staff_text-container h4{
      position: absolute;
      margin-top: 0;
    }
   .staff_text-container .staff_name{
     max-width: 118px;
     top: 15%;
     left: 10%;
     font-family: "Arial Black";
     font-size: 14px;
     color: #5d5a5a;
   }
  .staff_text-container .staff_title{
    font-size: 14px;
    color: #25ae85;
    top: 15%;
    left: 55%;
    font-family: "Arial Black";
  }
  .staff_text-container .staff_hr{
    margin-left: 48%;
  }
  .team_card{
    margin: auto;
  }
  .team_card:hover{
    box-shadow: 1px 1px 21px 0px;
  }
  img{
      height: 290px;
      object-fit: cover;
  }
    /*media queries*/

    @media (max-width:576px){
      .staff_text-container .staff_name{
        top:12%;
      }
      .staff_text-container .staff_title{
        font-size: 12px;
      }
    }
    @media(min-width:500px) and (max-width:576.98px){
      .staff_text-container .staff_name{
        left:0;
      }
    }
    @media (min-width:577px) and (max-width:768px){
      .staff_name,.staff_title{
        margin:0 auto!important;
      }

    }
    @media (min-width:768px) and (max-width:992px){
      .staff_name,.staff_title{
        margin:0 auto!important;
      }

    }
    @media (min-width:992px) and (max-width:1200px){

    }
    @media (min-width:1201px){

    }
</style>
