<template>
    <div>
      <div class="tjoin_">
        <h3>WANT TO JOIN OUR TEAM?</h3>
        <p>Fresh talent needed. If you have the passion, the curiosity and the
          desire to accomplish great things, we want to meet you.</p>
        <button class="algo-btn">Apply</button>
      </div>
    </div>
</template>

<script>
    export default {
        name: "TeamJoin"
    }
</script>

<style scoped>
  .tjoin_{
    padding-top:20px;
  }
   .tjoin_ h3{
     color: #5d5a5a;
     font-size: 30px;
     font-family: "Arial Black";
   }
  .tjoin_ p{
    margin-top:24px;
    font-size: 16px;
    color: #5d5a5a;
  }
  .tjoin_ button{
    padding: 6px 60px;
     }

  @media(max-width:576px){
    .tjoin_ h3{
      font-size: 24px;
    }
    .tjoin_ p{
      font-size: 14px;
    }
  }
  @media (min-width:576.98px) and (max-width:768px){
    .tjoin_ h3{
      font-size: 22px;
    }
    .tjoin_ p{
      font-size: 14px;
    }
  }
  @media (min-width:768.98px) and (max-width:992px){
    .tjoin_ h3{
      font-size: 32px;
    }
    .tjoin_ p{
      font-size: 24px;
    }
  }
  @media (min-width:992.98px) and (max-width:1200px){
    .tjoin_ p{
      width:200px!important;
      max-width:100%;
    }
  }
  @media (min-width:1200.98px){
    .tjoin_ p{
      width:250px!important;
      max-width:100%;
        font-size: 21px;
    }
  }
</style>
